<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>人物管理-新增</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">

    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/base64.js}"></script>
    <script th:src="@{/layui/layui.js}" charset="utf-8"></script>
    <script th:src="@{/js/jquery.serializejson.min.js}"></script>
</head>
<body>
<div class="x-body">
    <div class="layui-row">
        <fieldset class="layui-elem-field layui-field-title">
            <legend style="margin-left:0;"><span style="font-size:15px;">基本信息</span></legend>
        </fieldset>
        <form class="layui-form-item layui-form">
            <div class="layui-inline layLeng">
                <label class="layui-form-label"><span class="x-red">*</span>人物名称</label>
                <div class="layui-input-inline">
                    <input id="add_nickname" type="text" class="layui-input inLeng">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label">人物类型</label>
                <div class="layui-input-inline" style="width: 260px">
                    <select id="add_isNpc" class="layui-input">
                        <option value="1">NPC</option>
                        <option value="0">玩家</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label"><span class="x-red">*</span>所属门派</label>
                <div class="layui-input-inline" style="width: 260px">
                    <select id="add_school" type="checkbox"></select>
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label"><span class="x-red">*</span>所属账号</label>
                <div class="layui-input-inline" style="width: 260px">
                    <select id="add_account" type="checkbox"></select>
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label">门派贡献值</label>
                <div class="layui-input-inline">
                    <input id="add_school_contribution" type="text" class="layui-input inLeng" oninput="value=value.replace(/[^\d]/g,'')">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label">声&emsp;&emsp;望</label>
                <div class="layui-input-inline">
                    <input id="add_popularity" type="text" class="layui-input inLeng" oninput="value=value.replace(/[^\d]/g,'')">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label">等&emsp;&emsp;级</label>
                <div class="layui-input-inline">
                    <input id="add_level" type="text" class="layui-input inLeng" oninput="value=value.replace(/[^\d]/g,'')">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label">经&ensp;验&ensp;值</label>
                <div class="layui-input-inline">
                    <input id="add_experience" type="text" class="layui-input inLeng" disabled="true" oninput="value=value.replace(/[^\d]/g,'')">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label">性&emsp;&emsp;别</label>
                <div class="layui-input-inline" style="width: 260px">
                    <select id="add_sex" class="layui-input">
                        <option value="1">男</option>
                        <option value="0">女</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label">性&emsp;&emsp;格</label>
                <div class="layui-input-inline">
                    <input id="add_characters" type="number" class="layui-input inLeng">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label">态&emsp;&emsp;度</label>
                <div class="layui-input-inline">
                    <input id="add_attitude" type="number" class="layui-input inLeng">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label">铜&emsp;&emsp;钱</label>
                <div class="layui-input-inline">
                    <input id="add_coin" type="text" class="layui-input inLeng" oninput="value=value.replace(/[^\d]/g,'')">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label">元&emsp;&emsp;宝</label>
                <div class="layui-input-inline">
                    <input id="add_gold" type="text" class="layui-input inLeng" oninput="value=value.replace(/[^\d]/g,'')">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label">启用状态</label>
                <div class="layui-input-inline" style="width: 260px">
                    <select id="add_enable" class="layui-input">
                        <option value="1">启用</option>
                        <option value="0">未启用</option>
                    </select>
                </div>
            </div>
        </form>
        <fieldset class="layui-elem-field layui-field-title">
            <legend style="margin-left:0;"><span style="font-size:15px;">属性分配</span></legend>
        </fieldset>
        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <div class="layui-input-inline" style="width: 390px">
                <button onclick="aVirtueBut()" type="button" class="layui-btn btncc">点击填写 - 属性分配</button>
            </div>
        </div>
        <fieldset class="layui-elem-field layui-field-title">
            <legend style="margin-left:0;"><span style="font-size:15px;">武学信息</span></legend>
        </fieldset>
        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <div class="layui-input-inline" style="width: 390px">
                <button onclick="aKongFuBut()" type="button" class="layui-btn btncc">点击填写 - 武学信息</button>
            </div>
        </div>
        <fieldset class="layui-elem-field layui-field-title">
            <legend style="margin-left:0;"><span style="font-size:15px;">兵器造诣</span></legend>
        </fieldset>
        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <div class="layui-input-inline" style="width: 390px">
                <button onclick="aWeaponBut()" type="button" class="layui-btn btncc">点击填写 - 兵器造诣</button>
            </div>
        </div>
        <fieldset class="layui-elem-field layui-field-title">
            <legend style="margin-left:0;"><span style="font-size:15px;">人物潜能</span></legend>
        </fieldset>
        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <div class="layui-input-inline" style="width: 390px">
                <button onclick="aPotentBut()" type="button" class="layui-btn btncc">点击填写 - 人物潜能</button>
            </div>
        </div>
    </div>


    <!--属性分配-->
    <div class="x-body" id="aAttInfo" aria-hidden="true" hidden>
        <form class="layui-form-item layui-form">
            <div class="layui-form-item">
                <label class="layui-form-label">属性总值</label>
                <div class="layui-input-inline">
                    <input id="add_attributes" type="number" value="0" class="layui-input inLeng" disabled="true">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label">体&emsp;&emsp;质</label>
                <div class="layui-input-inline" style="width:45px">
                    <button type="button" onclick="cutback('add_physique')" class="layui-btn layui-btn-radius layui-btn-primary"><span class="fontWith">-</span></button>
                </div>
                <div class="layui-input-inline" style="width:145px">
                    <input id="add_physique" type="text" class="layui-input" oninput="value=value.replace(/[^\d]/g,'')">
                </div>
                <div class="layui-input-inline" style="width:50px">
                    <button type="button" onclick="increase('add_physique')" class="layui-btn layui-btn-radius layui-btn-primary"><span class="fontWith">+</span></button>
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label">臂&emsp;&emsp;力</label>
                <div class="layui-input-inline" style="width:45px">
                    <button type="button" onclick="cutback('add_forces')" class="layui-btn layui-btn-radius layui-btn-primary"><span class="fontWith">-</span></button>
                </div>
                <div class="layui-input-inline" style="width:145px">
                    <input id="add_forces" type="text" class="layui-input" oninput="value=value.replace(/[^\d]/g,'')">
                </div>
                <div class="layui-input-inline" style="width:50px">
                    <button type="button" onclick="increase('add_forces')" class="layui-btn layui-btn-radius layui-btn-primary"><span class="fontWith">+</span></button>
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label">筋&emsp;&emsp;骨</label>
                <div class="layui-input-inline" style="width:45px">
                    <button type="button" onclick="cutback('add_muscles')" class="layui-btn layui-btn-radius layui-btn-primary"><span class="fontWith">-</span></button>
                </div>
                <div class="layui-input-inline" style="width:145px">
                    <input id="add_muscles" type="text" class="layui-input" oninput="value=value.replace(/[^\d]/g,'')">
                </div>
                <div class="layui-input-inline" style="width:50px">
                    <button type="button" onclick="increase('add_muscles')" class="layui-btn layui-btn-radius layui-btn-primary"><span class="fontWith">+</span></button>
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label">内&emsp;&emsp;修</label>
                <div class="layui-input-inline" style="width:45px">
                    <button type="button" onclick="cutback('add_mp')" class="layui-btn layui-btn-radius layui-btn-primary"><span class="fontWith">-</span></button>
                </div>
                <div class="layui-input-inline" style="width:145px">
                    <input id="add_mp" type="text" class="layui-input" oninput="value=value.replace(/[^\d]/g,'')">
                </div>
                <div class="layui-input-inline" style="width:50px">
                    <button type="button" onclick="increase('add_mp')" class="layui-btn layui-btn-radius layui-btn-primary"><span class="fontWith">+</span></button>
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label">灵&emsp;&emsp;活</label>
                <div class="layui-input-inline" style="width:45px">
                    <button type="button" onclick="cutback('add_sensitivity')" class="layui-btn layui-btn-radius layui-btn-primary"><span class="fontWith">-</span></button>
                </div>
                <div class="layui-input-inline" style="width:145px">
                    <input id="add_sensitivity" type="text" class="layui-input" oninput="value=value.replace(/[^\d]/g,'')">
                </div>
                <div class="layui-input-inline" style="width:50px">
                    <button type="button" onclick="increase('add_sensitivity')" class="layui-btn layui-btn-radius layui-btn-primary"><span class="fontWith">+</span></button>
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label">意&emsp;&emsp;志</label>
                <div class="layui-input-inline" style="width:45px">
                    <button type="button" onclick="cutback('add_willpower')" class="layui-btn layui-btn-radius layui-btn-primary"><span class="fontWith">-</span></button>
                </div>
                <div class="layui-input-inline" style="width:145px">
                    <input id="add_willpower" type="text" class="layui-input" oninput="value=value.replace(/[^\d]/g,'')">
                </div>
                <div class="layui-input-inline" style="width:50px">
                    <button type="button" onclick="increase('add_willpower')" class="layui-btn layui-btn-radius layui-btn-primary"><span class="fontWith">+</span></button>
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label">学&emsp;&emsp;识</label>
                <div class="layui-input-inline" style="width:45px">
                    <button type="button" onclick="cutback('add_knowledge')" class="layui-btn layui-btn-radius layui-btn-primary"><span class="fontWith">-</span></button>
                </div>
                <div class="layui-input-inline" style="width:145px">
                    <input id="add_knowledge" type="text" class="layui-input" oninput="value=value.replace(/[^\d]/g,'')">
                </div>
                <div class="layui-input-inline" style="width:50px">
                    <button type="button" onclick="increase('add_knowledge')" class="layui-btn layui-btn-radius layui-btn-primary"><span class="fontWith">+</span></button>
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label">运&emsp;&emsp;气</label>
                <div class="layui-input-inline" style="width:45px">
                    <button type="button" onclick="cutback('add_lucky')" class="layui-btn layui-btn-radius layui-btn-primary"><span class="fontWith">-</span></button>
                </div>
                <div class="layui-input-inline" style="width:145px">
                    <input id="add_lucky" type="text" class="layui-input" oninput="value=value.replace(/[^\d]/g,'')">
                </div>
                <div class="layui-input-inline" style="width:50px">
                    <button type="button" onclick="increase('add_lucky')" class="layui-btn layui-btn-radius layui-btn-primary"><span class="fontWith">+</span></button>
                </div>
            </div>
        </form>
    </div>


    <!--武学添加-->
    <div class="x-body" id="aArtsInfo" aria-hidden="true" hidden>
        <form class="layui-form-item layui-form" id="formKongFu">
            <div class="layui-form-item">
                <label class="layui-form-label">武学类型</label>
                <div class="layui-input-inline" style="width: 390px">
                    <select id="add_kfTypes" onchange="changeQualifications(this)">
                        <option value="0" selected="selected">内功</option>
                        <option value="1">轻功</option>
                        <option value="2">外功</option>
                    </select>
                </div>
                <div class="layui-input-inline">
                    <button onclick="addTypeBut()" type="button" class="layui-btn buLeng">选中</button>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">武学选项</label>
                <div class="layui-input-inline" style="width: 390px">
                    <select id="add_kongFu" type="checkbox"></select>
                </div>
                <div class="layui-input-inline">
                    <button id="addKongFus" onclick="addKongFu()" type="button" class="layui-btn buLeng">添加</button>
                </div>
            </div>
        </form>
    </div>


    <!--兵器造诣-->
    <div class="x-body" id="aWeaponInfo" aria-hidden="true" hidden>
        <form class="layui-form-item layui-form">
            <div class="layui-inline layLeng">
                <label class="layui-form-label">拳脚造诣</label>
                <div class="layui-input-inline">
                    <input id="add_melee_status" type="text" class="layui-input inLeng" oninput="value=value.replace(/[^\d]/g,'')">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label">剑法造诣</label>
                <div class="layui-input-inline">
                    <input id="add_sword_status" type="text" class="layui-input inLeng" oninput="value=value.replace(/[^\d]/g,'')">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label">刀斧造诣</label>
                <div class="layui-input-inline">
                    <input id="add_axe_status" type="text" class="layui-input inLeng" oninput="value=value.replace(/[^\d]/g,'')">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label">枪棍造诣</label>
                <div class="layui-input-inline">
                    <input id="add_javelin_status" type="text" class="layui-input inLeng" oninput="value=value.replace(/[^\d]/g,'')">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label">暗器造诣</label>
                <div class="layui-input-inline">
                    <input id="add_hidden_weapons_status" type="text" class="layui-input inLeng" oninput="value=value.replace(/[^\d]/g,'')">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label">异功造诣</label>
                <div class="layui-input-inline">
                    <input id="add_sorcery_status" type="text" class="layui-input inLeng" oninput="value=value.replace(/[^\d]/g,'')">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label">内修造诣</label>
                <div class="layui-input-inline">
                    <input id="add_mp_status" type="text" class="layui-input inLeng" oninput="value=value.replace(/[^\d]/g,'')">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label">轻功造诣</label>
                <div class="layui-input-inline">
                    <input id="add_dodge_skill_status" type="text" class="layui-input inLeng" oninput="value=value.replace(/[^\d]/g,'')">
                </div>
            </div>
        </form>
    </div>


    <!--人物潜能-->
    <div class="x-body" id="aPotentInfo" aria-hidden="true" hidden>
        <form class="layui-form-item layui-form">
            <fieldset class="layui-elem-field layui-field-title">
                <legend style="margin-left:0;"><span style="font-size:15px;">智慧</span></legend>
            </fieldset>
            <div class="layui-inline">
                <label class="layui-form-label">见多识广</label>
                <div class="layui-input-inline">
                    <input id="add_wisdom1" type="text" class="layui-input" oninput="value=value.replace(/[^\d]/g,'')">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">嗜练烈毒</label>
                <div class="layui-input-inline">
                    <input id="add_wisdom2" type="text" class="layui-input" oninput="value=value.replace(/[^\d]/g,'')">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">遍尝百草</label>
                <div class="layui-input-inline">
                    <input id="add_wisdom3" type="text" class="layui-input" oninput="value=value.replace(/[^\d]/g,'')">
                </div>
            </div>
            <fieldset class="layui-elem-field layui-field-title">
                <legend style="margin-left:0;"><span style="font-size:15px;">强壮</span></legend>
            </fieldset>
            <div class="layui-inline">
                <label class="layui-form-label">生命旺盛</label>
                <div class="layui-input-inline">
                    <input id="add_healthy1" type="text" class="layui-input" oninput="value=value.replace(/[^\d]/g,'')">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">抗晕体质</label>
                <div class="layui-input-inline">
                    <input id="add_healthy2" type="text" class="layui-input" oninput="value=value.replace(/[^\d]/g,'')">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">再生体质</label>
                <div class="layui-input-inline">
                    <input id="add_healthy3" type="text" class="layui-input" oninput="value=value.replace(/[^\d]/g,'')">
                </div>
            </div>
            <fieldset class="layui-elem-field layui-field-title">
                <legend style="margin-left:0;"><span style="font-size:15px;">醇厚</span></legend>
            </fieldset>
            <div class="layui-inline">
                <label class="layui-form-label">浑厚力道</label>
                <div class="layui-input-inline">
                    <input id="add_mellow1" type="text" class="layui-input" oninput="value=value.replace(/[^\d]/g,'')">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">极速御气</label>
                <div class="layui-input-inline">
                    <input id="add_mellow2" type="text" class="layui-input" oninput="value=value.replace(/[^\d]/g,'')">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">凝聚真气</label>
                <div class="layui-input-inline">
                    <input id="add_mellow3" type="text" class="layui-input" oninput="value=value.replace(/[^\d]/g,'')">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">周转御气</label>
                <div class="layui-input-inline">
                    <input id="add_mellow4" type="text" class="layui-input" oninput="value=value.replace(/[^\d]/g,'')">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">逆行真气</label>
                <div class="layui-input-inline">
                    <input id="add_mellow5" type="text" class="layui-input" oninput="value=value.replace(/[^\d]/g,'')">
                </div>
            </div>
            <fieldset class="layui-elem-field layui-field-title">
                <legend style="margin-left:0;"><span style="font-size:15px;">技巧</span></legend>
            </fieldset>
            <div class="layui-inline">
                <label class="layui-form-label">行云流水</label>
                <div class="layui-input-inline">
                    <input id="add_fineness1" type="text" class="layui-input" oninput="value=value.replace(/[^\d]/g,'')">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">模糊身形</label>
                <div class="layui-input-inline">
                    <input id="add_fineness2" type="text" class="layui-input" oninput="value=value.replace(/[^\d]/g,'')">
                </div>
            </div>
            <fieldset class="layui-elem-field layui-field-title">
                <legend style="margin-left:0;"><span style="font-size:15px;">爆发</span></legend>
            </fieldset>
            <div class="layui-inline">
                <label class="layui-form-label">致命打击</label>
                <div class="layui-input-inline">
                    <input id="add_burst1" type="text" class="layui-input" oninput="value=value.replace(/[^\d]/g,'')">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">招招毙命</label>
                <div class="layui-input-inline">
                    <input id="add_burst2" type="text" class="layui-input" oninput="value=value.replace(/[^\d]/g,'')">
                </div>
            </div>
            <fieldset class="layui-elem-field layui-field-title">
                <legend style="margin-left:0;"><span style="font-size:15px;">犀利</span></legend>
            </fieldset>
            <div class="layui-inline">
                <label class="layui-form-label">重创攻击</label>
                <div class="layui-input-inline">
                    <input id="add_sharp1" type="text" class="layui-input" oninput="value=value.replace(/[^\d]/g,'')">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">撕裂攻击</label>
                <div class="layui-input-inline">
                    <input id="add_sharp2" type="text" class="layui-input" oninput="value=value.replace(/[^\d]/g,'')">
                </div>
            </div>
            <fieldset class="layui-elem-field layui-field-title">
                <legend style="margin-left:0;"><span style="font-size:15px;">坚韧</span></legend>
            </fieldset>
            <div class="layui-inline">
                <label class="layui-form-label">坚强意志</label>
                <div class="layui-input-inline">
                    <input id="add_tenacity1" type="text" class="layui-input" oninput="value=value.replace(/[^\d]/g,'')">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">钢筋铁骨</label>
                <div class="layui-input-inline">
                    <input id="add_tenacity2" type="text" class="layui-input" oninput="value=value.replace(/[^\d]/g,'')">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">凝气守神</label>
                <div class="layui-input-inline">
                    <input id="add_tenacity3" type="text" class="layui-input" oninput="value=value.replace(/[^\d]/g,'')">
                </div>
            </div>
        </form>
    </div>
</div>
</body>
<script th:src="@{/js/main.js}" type="text/javascript"></script>
<script th:src="@{/js/app/base.js}" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        var downs = {};
        downBox(downs, schoolBox, "add_school", "", lSelection);
    });
    $(function () {
        var downs = {};
        downBox(downs, accountBox, "add_account", "", lSelection);
    });

    $(function() {
        $("select[id='add_kfTypes']").change(function(){
            changeQualifications(this);
        });
    });
    function changeQualifications(a) {
        alert(a)
    }
</script>
</html>