<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>人物管理</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">

    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/base64.js}"></script>
    <script th:src="@{/layui/layui.js}" charset="utf-8"></script>
    <script th:src="@{/js/jquery.serializejson.min.js}"></script>
</head>
<style>
    .lab{width: 120px}
</style>
<body>
<div class="x-body"><div class="x-body">
    <div class="layui-row">
        <div class="search-conditional">
            <form class="layui-form-item layui-form">
                <div class="layui-inline">
                    <label class="layui-form-label">人物名称</label>
                    <div class="layui-input-inline" >
                        <input id="query_nickname" type="text" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">是否启用</label>
                    <div class="layui-input-inline">
                        <select id="query_enable" class="layui-input">
                            <option value="">全选</option>
                            <option value="0">未启用</option>
                            <option value="1">已启用</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">注销状态</label>
                    <div class="layui-input-inline">
                        <select id="query_cancellation" class="layui-input">
                            <option value="">全选</option>
                            <option value="0">正常</option>
                            <option value="1">已注销</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">人物类型</label>
                    <div class="layui-input-inline">
                        <select id="query_isNpc" class="layui-input">
                            <option value="">全选</option>
                            <option value="0">玩家</option>
                            <option value="1">NPC</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="search-button">
            <div class="layui-inline">
                <button onclick="pagingQuery()" class="layui-btn"><i class="layui-icon layui-icon-search"></i>查询</button>
            </div>
            <div class="layui-inline">
                <button onclick="add()" class="layui-btn btnc"><i class="layui-icon layui-icon-add-circle-fine"></i>新增</button>
            </div>
            <div class="layui-inline">
                <button onclick="cleanUp()" class="layui-btn layui-btn-primary"><i class="layui-icon layui-icon-delete"></i>清空条件</button>
            </div>
        </div>
    </div>


    <!--数据栏-->
    <table class="layui-table" id="dataInfo" lay-filter="dataInfo"></table>
    <script type="text/html" id="operational">
        <a class="layui-btn layui-btn-xs layui-btn-primary" lay-event="see"><i class='layui-icon layui-icon-read'></i>查看</a>
        <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="edit" ><i class='layui-icon layui-icon-edit'></i>编辑</a>
        <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del"><i class='layui-icon layui-icon-delete'></i>删除</a>
    </script>


    <!--查看栏-->
    <div class="x-body" id="seeInfo" aria-hidden="true" hidden>
        <fieldset class="layui-elem-field layui-field-title">
            <legend style="margin-left:0"><span class="x-font">基本信息</span></legend>
        </fieldset>
        <form class="layui-form-item layui-form">
            <div class="layui-inline layLeng">
                <label class="layui-form-label lab">人物名称：</label>
                <div class="layui-input-inline">
                    <input id="see_nickname" type="text" class="layui-input see-input">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label lab">人物类型：</label>
                <div class="layui-input-inline">
                    <input id="see_isNpc" type="text" class="layui-input see-input">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label lab">用户账号：</label>
                <div class="layui-input-inline">
                    <input id="see_user" type="text" class="layui-input see-input">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label lab">所属门派：</label>
                <div class="layui-input-inline">
                    <input id="see_school" type="text" class="layui-input see-input">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label lab">门派贡献值：</label>
                <div class="layui-input-inline">
                    <input id="see_school_contribution" type="text" class="layui-input see-input">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label lab">性&emsp;&emsp;别：</label>
                <div class="layui-input-inline">
                    <input id="see_sex" type="text" class="layui-input see-input">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label lab">等&emsp;&emsp;级：</label>
                <div class="layui-input-inline">
                    <input id="see_level" type="text" class="layui-input see-input">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label lab">经&ensp;验&ensp;值：</label>
                <div class="layui-input-inline">
                    <input id="see_experience" type="text" class="layui-input see-input">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label lab">态&emsp;&emsp;度：</label>
                <div class="layui-input-inline">
                    <input id="see_attitude" type="text" class="layui-input see-input">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label lab">性&emsp;&emsp;格：</label>
                <div class="layui-input-inline">
                    <input id="see_characters" type="text" class="layui-input see-input">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label lab">声&emsp;&emsp;望：</label>
                <div class="layui-input-inline">
                    <input id="see_popularity" type="text" class="layui-input see-input">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label lab">铜&emsp;&emsp;钱：</label>
                <div class="layui-input-inline">
                    <input id="see_coin" type="text" class="layui-input see-input">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label lab">元&emsp;&emsp;宝：</label>
                <div class="layui-input-inline">
                    <input id="see_gold" type="text" class="layui-input see-input">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label lab">是否启用：</label>
                <div class="layui-input-inline">
                    <input id="see_enable" type="text" class="layui-input see-input">
                </div>
            </div>
        </form>
        <fieldset class="layui-elem-field layui-field-title">
            <legend style="margin-left:0"><span class="x-font">属性分配</span></legend>
        </fieldset>
        <form class="layui-form-item layui-form">
            <div class="layui-inline layLeng">
                <label class="layui-form-label lab">体&emsp;&emsp;质：</label>
                <div class="layui-input-inline">
                    <input id="see_physique" type="text" class="layui-input see-input">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label lab">臂&emsp;&emsp;力：</label>
                <div class="layui-input-inline">
                    <input id="see_forces" type="text" class="layui-input see-input">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label lab">筋&emsp;&emsp;骨：</label>
                <div class="layui-input-inline">
                    <input id="see_muscles" type="text" class="layui-input see-input">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label lab">内&emsp;&emsp;修：</label>
                <div class="layui-input-inline">
                    <input id="see_chakra" type="text" class="layui-input see-input">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label lab">灵&emsp;&emsp;活：</label>
                <div class="layui-input-inline">
                    <input id="see_sensitivity" type="text" class="layui-input see-input">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label lab">意&emsp;&emsp;志：</label>
                <div class="layui-input-inline" style="width:145px">
                    <input id="see_willpower" type="text" class="layui-input see-input">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label lab">学&emsp;&emsp;识：</label>
                <div class="layui-input-inline">
                    <input id="see_knowledge" type="text" class="layui-input see-input">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label lab">运&emsp;&emsp;气：</label>
                <div class="layui-input-inline">
                    <input id="see_lucky" type="text" class="layui-input see-input">
                </div>
            </div>
        </form>
        <fieldset class="layui-elem-field layui-field-title">
            <legend style="margin-left:0"><span class="x-font">武学信息</span></legend>
        </fieldset>
        <form class="layui-form-item layui-form" id="formSeeKongFu"></form>
        <fieldset class="layui-elem-field layui-field-title">
            <legend style="margin-left:0"><span class="x-font">兵器造诣</span></legend>
        </fieldset>
        <form class="layui-form-item layui-form">
            <div class="layui-inline layLeng">
                <label class="layui-form-label lab">拳脚造诣：</label>
                <div class="layui-input-inline">
                    <input id="see_melee_status" type="text" class="layui-input see-input">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label lab">剑法造诣：</label>
                <div class="layui-input-inline">
                    <input id="see_sword_status" type="text" class="layui-input see-input">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label lab">刀斧造诣：</label>
                <div class="layui-input-inline">
                    <input id="see_axe_status" type="text" class="layui-input see-input">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label lab">枪棍造诣：</label>
                <div class="layui-input-inline">
                    <input id="see_javelin_status" type="text" class="layui-input see-input">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label lab">暗器造诣：</label>
                <div class="layui-input-inline">
                    <input id="see_hidden_weapons_status" type="text" class="layui-input see-input">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label lab">异功造诣：</label>
                <div class="layui-input-inline">
                    <input id="see_sorcery_status" type="text" class="layui-input see-input">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label lab">内修造诣：</label>
                <div class="layui-input-inline">
                    <input id="see_mp_status" type="text" class="layui-input see-input">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label lab">轻功造诣：</label>
                <div class="layui-input-inline">
                    <input id="see_dodge_skill_status" type="text" class="layui-input see-input">
                </div>
            </div>
        </form>
        <fieldset class="layui-elem-field layui-field-title">
            <legend style="margin-left:0"><span class="x-font">人物潜能</span></legend>
        </fieldset>
        <form class="layui-form-item layui-form">
            <div class="layui-inline layLeng">
                <label class="layui-form-label lab">智慧-见多识广：</label>
                <div class="layui-input-inline">
                    <input id="see_wisdom1" type="text" class="layui-input see-input">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label lab">智慧-嗜练烈毒：</label>
                <div class="layui-input-inline">
                    <input id="see_wisdom2" type="text" class="layui-input see-input">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label lab">智慧-遍尝百草：</label>
                <div class="layui-input-inline">
                    <input id="see_wisdom3" type="text" class="layui-input see-input">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label lab">强壮-生命旺盛：</label>
                <div class="layui-input-inline">
                    <input id="see_healthy1" type="text" class="layui-input see-input">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label lab">强壮-抗晕体质：</label>
                <div class="layui-input-inline">
                    <input id="see_healthy2" type="text" class="layui-input see-input">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label lab">强壮-再生体质：</label>
                <div class="layui-input-inline">
                    <input id="see_healthy3" type="text" class="layui-input see-input">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label lab">醇厚-浑厚力道：</label>
                <div class="layui-input-inline">
                    <input id="see_mellow1" type="text" class="layui-input see-input">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label lab">醇厚-极速御气：</label>
                <div class="layui-input-inline">
                    <input id="see_mellow2" type="text" class="layui-input see-input">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label lab">醇厚-凝聚真气：</label>
                <div class="layui-input-inline">
                    <input id="see_mellow3" type="text" class="layui-input see-input">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label lab">醇厚-周转御气：</label>
                <div class="layui-input-inline">
                    <input id="see_mellow4" type="text" class="layui-input see-input">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label lab">醇厚-逆行真气：</label>
                <div class="layui-input-inline">
                    <input id="see_mellow5" type="text" class="layui-input see-input">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label lab">技巧-行云流水：</label>
                <div class="layui-input-inline">
                    <input id="see_fineness1" type="text" class="layui-input see-input">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label lab">技巧-模糊身形：</label>
                <div class="layui-input-inline">
                    <input id="see_fineness2" type="text" class="layui-input see-input">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label lab">爆发-致命打击：</label>
                <div class="layui-input-inline">
                    <input id="see_burst1" type="text" class="layui-input see-input">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label lab">爆发-招招毙命：</label>
                <div class="layui-input-inline">
                    <input id="see_burst2" type="text" class="layui-input see-input">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label lab">犀利-重创攻击：</label>
                <div class="layui-input-inline">
                    <input id="see_sharp1" type="text" class="layui-input see-input">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label lab">犀利-撕裂攻击：</label>
                <div class="layui-input-inline">
                    <input id="see_sharp2" type="text" class="layui-input see-input">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label lab">坚韧-坚强意志：</label>
                <div class="layui-input-inline">
                    <input id="see_tenacity1" type="text" class="layui-input see-input">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label lab">坚韧-钢筋铁骨：</label>
                <div class="layui-input-inline">
                    <input id="see_tenacity2" type="text" class="layui-input see-input">
                </div>
            </div>
            <div class="layui-inline layLeng">
                <label class="layui-form-label lab">坚韧-凝气守神：</label>
                <div class="layui-input-inline">
                    <input id="see_tenacity3" type="text" class="layui-input see-input">
                </div>
            </div>
        </form>
    </div>
</div></div>
</body>
<script th:src="@{/js/main.js}" type="text/javascript"></script>
<script th:src="@{/js/app/base.js}" type="text/javascript"></script>
</html>