<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ral.manages.mapper.app.IAccountMapper">

    <sql id="accountResult">
        id,account,source,tellphone,DATE_FORMAT(lrrq,'%Y-%m-%d %H:%i:%s') as lrrq,cancellation,deleteStatus
    </sql>
    <sql id="conditionalCheck">
        <if test="account != null and account != ''">
          AND account like '%${account}%'
        </if>
        <if test="tellPhone != null and tellPhone != ''">
          AND tellphone like '%${tellPhone}%'
        </if>
        <if test="source != null and source != ''">
          AND source=#{source}
        </if>
        <if test="startTime != null and startTime != ''">
          AND DATE_FORMAT(lrrq,'%Y-%m-%d') <![CDATA[>=]]> DATE_FORMAT(#{startTime},'%Y-%m-%d')
        </if>
        <if test="endTime != null and endTime != ''">
          AND DATE_FORMAT(lrrq,'%Y-%m-%d') <![CDATA[<=]]> DATE_FORMAT(#{endTime},'%Y-%m-%d')
        </if>
        <if test="cancellation != null and cancellation != ''">
            <choose>
                <when test="cancellation == 1">
                    AND cancellation=#{cancellation}
                </when>
                <otherwise>
                    AND (cancellation IS NULL OR cancellation=0)
                </otherwise>
            </choose>
        </if>
    </sql>


    <!--查询-->
    <select id="accountPagingQuery" parameterType="map" resultType="map">
        SELECT <include refid="accountResult"/> FROM biz_user WHERE 1=1 <include refid="conditionalCheck"/>
        AND (deleteStatus IS NULL OR deleteStatus=0) ORDER BY lrrq DESC
    </select>
    <select id="accountIsExist" parameterType="map" resultType="int">
        SELECT COUNT(1) FROM biz_user WHERE 1=1 AND account=#{account}
    </select>
    <select id="accountEditQuery" parameterType="map" resultType="map">
        SELECT <include refid="accountResult"/> FROM  biz_user WHERE 1=1 AND account=#{account}
    </select>
    <select id="accountIdQuery" parameterType="map" resultType="map">
        SELECT <include refid="accountResult"/> FROM  biz_user WHERE 1=1 AND id=#{id}
    </select>
    <select id="accountQueryName" parameterType="string" resultType="map">
        SELECT id,account FROM biz_user WHERE 1=1 AND id=#{userId}
    </select>


    <!--新增-->
    <insert id="accountInsert" parameterType="map">
        INSERT INTO biz_user(id,account,password,source,tellphone,lrrq,cancellation,deleteStatus)
        VALUES (#{id},#{account},#{password},#{source},#{tellphone},#{lrrq},#{cancellation},#{deleteStatus})
    </insert>


    <!--修改-->
    <update id="accountUpdate" parameterType="map">
        UPDATE biz_user SET tellphone=#{tellphone},account=#{account},source=#{source} WHERE 1=1 AND id=#{id}
    </update>


    <!--删除-->
    <update id="accountDelete" parameterType="map">
        UPDATE biz_user SET deleteStatus=#{deleteStatus} WHERE 1=1 AND account=#{account}
    </update>
</mapper>