<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ral.manages.mapper.app.IBaseInfoMapper">

    <!--角色表-->
    <sql id="baseInfoResult">
        id,user_id,school_id,member_id,nickname,sex,level,attitude,character,popularity,coin,gold,experience,
        school_contribution,pic,enable,cancellation,is_npc,last_time
    </sql>
    <!--NPC角色表-->
    <sql id="baseNPCResult">
        id,user_id,school_id,member_id,nickname,sex,level,attitude,character,popularity,coin,gold,experience,
        school_contribution,img,enable,cancellation
    </sql>
    <!--造诣表-->
    <sql id="attainInfoResult">
        id,charactor_id,melee_status,sword_status,axe_status,javelin_status,hidden_weapons_status,sorcery_status,
        dodge_skill_status,chakra_status,lrrq
    </sql>
    <!--battle表-->
    <sql id="battleInfoResult">
        id,physique,force,muscles,chakra,sensitivity,willpower,knowledge,lucky,charactor_id
    </sql>
    <!--学识表-->
    <sql id="potentialInfoResult">
        id,wisdom1,wisdom2,wisdom3,healthy1,healthy2,healthy3,mellow1,mellow2,mellow3,mellow4,mellow5,fineness1,fineness2,
        burst1,burst2,sharp1,sharp2,tenacity1,tenacity2,tenacity3,charactor_id
    </sql>
    <!--关系表-->
    <sql id="relationInfoResult">
        id,charactor_id,charactor_friend_id,relation_value
    </sql>


    <!--查询-->


    <!--新增-->
    <insert id="baseInfoInsert" parameterType="map">
        INSERT INTO biz_charactor_base_info(id,user_id,school_id,member_id,nickname,sex,level,attitude,character,popularity,coin,gold,experience,
        school_contribution,pic,enable,cancellation,is_npc,last_time)
        VALUES (
          #{id},#{user_id},#{school_id},#{member_id},#{nickname},#{sex},#{level},#{attitude},#{character},#{popularity},#{coin},#{gold},
          #{experience},#{school_contribution},#{pic},#{enable},#{cancellation},#{is_npc},#{last_time}
        )
    </insert>

</mapper>
