<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ral.manages.mapper.app.IBaseNPCMapper">

    <!--NPC角色表-->
    <sql id="baseNPCResult">
        id,user_id,school_id,member_id,nickname,sex,level,attitude,character,popularity,coin,gold,experience,
        school_contribution,img,enable,cancellation
    </sql>
    <sql id="conditionalCheck">
        <if test="nickname!=null and nickname!=''">
            AND nickname like '%${nickname}%'
        </if>
        <if test="school_id!=null and school_id!=''">
            AND school_id=#{schoolId}
        </if>
        <if test="enable!=null and enable!=''">
            AND enable=#{enable}
        </if>
    </sql>

    <!--查询-->
    <select id="baseNpcPagingQuery" parameterType="map" resultType="map">
        SELECT * FROM biz_charactor_base_info_npc WHERE 1=1 <include refid="conditionalCheck"/> AND (cancellation IS NULL OR cancellation=0)
    </select>
    <select id="baseNpcIsExist" parameterType="map" resultType="int">
        SELECT COUNT(1) FROM biz_charactor_base_info_npc WHERE 1=1 AND nickname=#{nickname}
    </select>
    <select id="baseNpcEditQuery" parameterType="map" resultType="map">
        SELECT * FROM biz_charactor_base_info_npc WHERE 1=1 AND nickname=#{nickname}
    </select>
    <select id="baseNpcIdQuery" parameterType="map" resultType="map">
        SELECT * FROM biz_charactor_base_info_npc WHERE 1=1 AND id=#{id}
    </select>


    <!--新增-->
    <insert id="baseNPCInsert" parameterType="map">
        INSERT INTO biz_charactor_base_info_npc(id,user_id,school_id,member_id,nickname,sex,level,attitude,character,popularity,
        coin,gold,experience,school_contribution,img,enable,cancellation)
        VALUES (
          #{id},#{user_id},#{school_id},#{member_id},#{nickname},#{sex},#{level},#{attitude},#{character},#{popularity},#{coin},
          #{gold},#{experience},#{school_contribution},#{img},#{enable},#{cancellation}
        )
    </insert>
    <insert id="baseAttInsert" parameterType="map">
        INSERT INTO biz_charactor_attainments(id,charactor_id,melee_status,sword_status,axe_status,javelin_status,hidden_weapons_status,
        sorcery_status,dodge_skill_status,chakra_status,lrrq)
        VALUES (
          #{id},#{charactor_id},#{melee_status},#{sword_status},#{axe_status},#{javelin_status},#{hidden_weapons_status},
          #{sorcery_status},#{dodge_skill_status},#{chakra_status},#{lrrq}
        )
    </insert>
    <insert id="baseExtInsert" parameterType="map">
        INSERT INTO biz_charactor_battle_ext(id,physique,force,muscles,chakra,sensitivity,willpower,knowledge,lucky,charactor_id)
        VALUES (
          #{id},#{physique},#{force},#{muscles},#{chakra},#{sensitivity},#{willpower},#{knowledge},#{lucky},#{charactor_id}
        )
    </insert>
    <insert id="basePotInsert" parameterType="map">
        INSERT INTO biz_charactor_potential(id,wisdom1,wisdom2,wisdom3,healthy1,healthy2,healthy3,mellow1,mellow2,mellow3,mellow4,mellow5,
        fineness1,fineness2,burst1,burst2,sharp1,sharp2,tenacity1,tenacity2,tenacity3,charactor_id)
        VALUES (
          #{id},#{wisdom1},#{wisdom2},#{wisdom3},#{healthy1},#{healthy2},#{healthy3},#{mellow1},#{mellow2},#{mellow3},#{mellow4},#{mellow5},
          #{fineness1},#{fineness2},#{burst1},#{burst2},#{sharp1},#{sharp2},#{tenacity1},#{tenacity2},#{tenacity3},#{charactor_id}
        )
    </insert>

    <!--修改-->
    <update id="baseNPCUpdate" parameterType="map">
        UPDATE biz_charactor_base_info_npc SET user_id=#{user_id},school_id=#{school_id},member_id=#{member_id},nickname=#{nickname},
        sex=#{sex},level#{level},attitude=#{attitude},character=#{character},popularity=#{popularity},coin=#{coin},gold=#{gold},
        experience=#{experience},school_contribution=#{school_contribution},img=#{img},enable=#{enable}
        WHERE 1=1 AND id=#{id}
    </update>


    <!--删除-->
    <update id="baseNPCDelete" parameterType="map">
        UPDATE biz_charactor_base_info_npc SET cancellation=#{cancellation} WHERE 1=1 AND nickname=#{nickname}
    </update>

</mapper>
