<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ral.manages.mapper.app.IEffectMapper">

    <sql id="effectResult">
        effect_id,deleteStatus,name,info,target,Aggressivity,Aggressivity_min,Defense,Defense_stun,Defense_death,preserve,
        treatment,mp_random,mp_yellow,mp_gold,mp_green,mp_blue,mp_purple,injury,internal_injury,poisoning,stun,dodge,hit_rate,
        crit_rate,burst,suck_HP,suck_mp_random,suck_mp_yellow,suck_mp_gold,suck_mp_green,suck_mp_blue,suck_mp_purple,
        Counterattack,PowerWall,penetrate_defense,penetrate_powerWall,Acupoint_su,Acupoint_zhong,Acupoint_qiao,Acupoint_shan,
        Acupoint_tiao,Acupoint_fang,getweapon,Aggressivity_powerWall,Basic_attribute_physique,Basic_attribute_forces,
        Basic_attribute_muscles,Basic_attribute_mp,Basic_attribute_sensitivity,Basic_attribute_willpower,Basic_attribute_knowledge,
        Basic_attribute_lucky,Hardhit
    </sql>

    <sql id="conditionalCheck">
        <if test="name != null and name != ''">
            AND name like '%${name}%'
        </if>
        <if test="target != null and target != ''">
            AND target=#{target}
        </if>
    </sql>


    <!--查询-->
    <select id="effectPagingQuery" parameterType="map" resultType="map">
        SELECT <include refid="effectResult"/> FROM dict_effect WHERE 1=1 <include refid="conditionalCheck"/>
        AND (deleteStatus IS NULL OR deleteStatus=0)
    </select>
    <select id="effectIsExist" parameterType="map" resultType="int">
        SELECT COUNT(1) FROM dict_effect WHERE 1=1 AND name=#{name}
    </select>
    <select id="effectEditQuery" parameterType="map" resultType="map">
        SELECT <include refid="effectResult"/> FROM dict_effect WHERE 1=1 AND name=#{name}
    </select>
    <select id="effectIdQuery" parameterType="map" resultType="map">
        SELECT <include refid="effectResult"/> FROM dict_effect WHERE 1=1 AND effect_id=#{effect_id}
    </select>
    <select id="effectQueryMarquee" parameterType="map" resultType="map">
        SELECT effect_id,name FROM dict_effect WHERE 1=1
        <if test="target !=null and target != ''">
          target=#{target}
        </if>
    </select>
    <select id="effectQueryMarqueeName" parameterType="map" resultType="map">
        SELECT name FROM dict_effect WHERE 1=1 AND effect_id IN
        <foreach item="item" index="index" collection="eIds" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>


    <!--新增-->
    <insert id="effectInsert" parameterType="map">
        INSERT INTO dict_effect(
        effect_id,deleteStatus,name,info,target,Aggressivity,Aggressivity_min,Defense,Defense_stun,Defense_death,preserve,
        treatment,mp_random,mp_yellow,mp_gold,mp_green,mp_blue,mp_purple,injury,internal_injury,poisoning,stun,dodge,hit_rate,
        crit_rate,burst,suck_HP,suck_mp_random,suck_mp_yellow,suck_mp_gold,suck_mp_green,suck_mp_blue,suck_mp_purple,
        Counterattack,PowerWall,penetrate_defense,penetrate_powerWall,Acupoint_su,Acupoint_zhong,Acupoint_qiao,Acupoint_shan,
        Acupoint_tiao,Acupoint_fang,getweapon,Aggressivity_powerWall,Basic_attribute_physique,Basic_attribute_forces,
        Basic_attribute_muscles,Basic_attribute_mp,Basic_attribute_sensitivity,Basic_attribute_willpower,Basic_attribute_knowledge,
        Basic_attribute_lucky,Hardhit
        )
        VALUES (
        #{effect_id},#{deleteStatus},#{name},#{info},#{target},#{Aggressivity},#{Aggressivity_min},#{Defense},#{Defense_stun},
        #{Defense_death},#{preserve},#{treatment},#{mp_random},#{mp_yellow},#{mp_gold},#{mp_green},#{mp_blue},#{mp_purple},
        #{injury},#{internal_injury},#{poisoning},#{stun},#{dodge},#{hit_rate},
        #{crit_rate},#{burst},#{suck_HP},#{suck_mp_random},#{suck_mp_yellow},#{suck_mp_gold},#{suck_mp_green},#{suck_mp_blue},
        #{suck_mp_purple},#{Counterattack},#{PowerWall},#{penetrate_defense},#{penetrate_powerWall},#{Acupoint_su},
        #{Acupoint_zhong},#{Acupoint_qiao},#{Acupoint_shan},#{Acupoint_tiao},#{Acupoint_fang},#{getweapon},
        #{Aggressivity_powerWall},#{Basic_attribute_physique},#{Basic_attribute_forces},#{Basic_attribute_muscles},
        #{Basic_attribute_mp},#{Basic_attribute_sensitivity},#{Basic_attribute_willpower},#{Basic_attribute_knowledge},
        #{Basic_attribute_lucky},#{Hardhit}
        )
    </insert>


    <!--修改-->
    <update id="effectUpdate" parameterType="map">
        UPDATE dict_effect SET name=#{name},info=#{info},target=#{target},Aggressivity=#{Aggressivity},
        Aggressivity_min=#{Aggressivity_min},Defense=#{Defense},Defense_stun=#{Defense_stun},
        Defense_death=#{Defense_death},preserve=#{preserve},treatment=#{treatment},mp_random=#{mp_random},
        mp_yellow=#{mp_yellow},mp_gold=#{mp_gold},mp_green=#{mp_green},mp_blue=#{mp_blue},mp_purple=#{mp_purple},
        injury=#{injury},internal_injury=#{internal_injury},poisoning=#{poisoning},stun=#{stun},dodge=#{dodge},
        hit_rate=#{hit_rate},crit_rate=#{crit_rate},burst=#{burst},suck_HP=#{suck_HP},suck_mp_random=#{suck_mp_random},
        suck_mp_yellow=#{suck_mp_yellow},suck_mp_gold=#{suck_mp_gold},suck_mp_green=#{suck_mp_green},
        suck_mp_blue=#{suck_mp_blue},suck_mp_purple=#{suck_mp_purple},Counterattack=#{Counterattack},PowerWall=#{PowerWall},
        penetrate_defense=#{penetrate_defense},penetrate_powerWall=#{penetrate_powerWall},Acupoint_su=#{Acupoint_su},
        Acupoint_zhong=#{Acupoint_zhong},Acupoint_qiao=#{Acupoint_qiao},Acupoint_shan=#{Acupoint_shan},
        Acupoint_tiao=#{Acupoint_tiao},Acupoint_fang=#{Acupoint_fang},getweapon=#{getweapon},
        Aggressivity_powerWall=#{Aggressivity_powerWall},Basic_attribute_physique=#{Basic_attribute_physique},
        Basic_attribute_forces=#{Basic_attribute_forces},Basic_attribute_muscles=#{Basic_attribute_muscles},
        Basic_attribute_mp=#{Basic_attribute_mp},Basic_attribute_sensitivity=#{Basic_attribute_sensitivity},
        Basic_attribute_willpower=#{Basic_attribute_willpower},Basic_attribute_knowledge=#{Basic_attribute_knowledge},
        Basic_attribute_lucky=#{Basic_attribute_lucky},Hardhit=#{Hardhit}
        WHERE 1=1 AND effect_id=#{effect_id}
    </update>


    <!--删除-->
    <update id="effectDelete" parameterType="map">
        UPDATE dict_effect SET deleteStatus=#{deleteStatus} WHERE 1=1 AND name=#{name}
    </update>

</mapper>