<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ral.manages.mapper.app.IMoveMapper">

    <sql id="moveResult">
        zhaoshi_id,kongfu_id,name,MP_cost,info,zhaoshi_effect,zhaoshi_buff,Attacks,zhaoshi_experience_cost,deleteStatus,type
    </sql>
    <sql id="conditionalCheck">
        <if test="name != null and name != ''">
            AND name like '%${name}%'
        </if>
        <if test="sexperience != null and sexperience != ''">
            AND zhaoshi_experience_cost <![CDATA[>=]]> #{sexperience}
        </if>
        <if test="eexperience != null and eexperience != ''">
            AND zhaoshi_experience_cost <![CDATA[<=]]> #{eexperience}
        </if>
        <if test="type != null and type != ''">
            <choose>
                <when test="type == 0 and type == '0'">
                    AND type=0
                </when>
                <otherwise>
                    AND type=#{type}
                </otherwise>
            </choose>
        </if>
    </sql>


    <!--查询-->
    <select id="movePagingQuery" parameterType="map" resultType="map">
        SELECT <include refid="moveResult"/> FROM dict_zhaoshi WHERE 1=1 <include refid="conditionalCheck"/>
        AND (deleteStatus IS NULL OR deleteStatus=0)
    </select>
    <select id="moveIsExist" parameterType="map" resultType="int">
        SELECT COUNT(1) FROM dict_zhaoshi WHERE 1=1 AND name=#{name}
    </select>
    <select id="moveEditQuery" parameterType="map" resultType="map">
        SELECT <include refid="moveResult"/> FROM dict_zhaoshi WHERE 1=1 AND name=#{name}
    </select>
    <select id="moveIdQuery" parameterType="map" resultType="map">
        SELECT <include refid="moveResult"/> FROM dict_zhaoshi WHERE 1=1 AND zhaoshi_id=#{zhaoshi_id}
    </select>
    <select id="moveQueryMarquee" parameterType="map" resultType="map">
        SELECT zhaoshi_id,name FROM dict_zhaoshi
    </select>
    <select id="moveQueryName" parameterType="java.lang.String" resultType="map">
        SELECT zhaoshi_id,name FROM dict_zhaoshi WHERE 1=1 AND kongfu_id=#{moveId}
    </select>
    <select id="moveQueryMarqueeName" parameterType="map" resultType="map">
        SELECT name FROM dict_zhaoshi WHERE 1=1 AND zhaoshi_id IN
        <foreach item="item" index="index" collection="mIds" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
    <select id="moveQueryKFIsNull" resultType="map">
         SELECT zhaoshi_id,name FROM dict_zhaoshi WHERE 1=1 AND (kongfu_id='' or kongfu_id IS NULL)
    </select>
    <select id="moveQueryExistKF" parameterType="java.lang.String" resultType="map">
        SELECT name,zhaoshi_id FROM dict_zhaoshi WHERE 1=1 AND zhaoshi_id=#{moveId}
    </select>


    <!--新增-->
    <insert id="moveInsert" parameterType="map">
        INSERT INTO dict_zhaoshi(
        zhaoshi_id,kongfu_id,name,MP_cost,info,zhaoshi_effect,zhaoshi_buff,Attacks,zhaoshi_experience_cost,deleteStatus,type
        )
        VALUES(
        #{zhaoshi_id},#{kongfu_id},#{name},#{MP_cost},#{info},#{zhaoshi_effect},#{zhaoshi_buff},#{Attacks},
        #{zhaoshi_experience_cost},#{deleteStatus},#{type}
        )
    </insert>


    <!--修改-->
    <update id="moveUpdate" parameterType="map">
        UPDATE dict_zhaoshi SET kongfu_id=#{kongfu_id},name=#{name},MP_cost=#{MP_cost},info=#{info},
        zhaoshi_effect=#{zhaoshi_effect},zhaoshi_buff=#{zhaoshi_buff},type=#{type},
        Attacks=#{Attacks},zhaoshi_experience_cost=#{zhaoshi_experience_cost}
        WHERE 1=1 AND zhaoshi_id=#{zhaoshi_id}
    </update>
    <update id="moveUpdateKF" parameterType="map">
        UPDATE dict_zhaoshi SET kongfu_id=#{kongfu_id} WHERE 1=1 AND zhaoshi_id=#{moveId}
    </update>


    <!--删除-->
    <update id="moveDelete" parameterType="map">
        UPDATE dict_zhaoshi SET deleteStatus=#{deleteStatus} WHERE 1=1 AND name=#{name}
    </update>
</mapper>