<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ral.manages.mapper.app.ISchoolMapper">

    <sql id="schoolResult">
        school_id,name,info,influence,deleteStatus
    </sql>
    <sql id="conditionalCheck">
        <if test="name != null and name != ''">
            AND name like '%${name}%'
        </if>
        <if test="sinfluence != null and sinfluence != ''">
            AND influence <![CDATA[>=]]> #{sinfluence}
        </if>
        <if test="einfluence != null and einfluence != ''">
            AND influence <![CDATA[<=]]> #{einfluence}
        </if>
    </sql>


    <!--查询-->
    <select id="schoolPagingQuery" parameterType="map" resultType="map">
        SELECT <include refid="schoolResult"/> FROM dict_school WHERE 1=1 <include refid="conditionalCheck"/> AND (deleteStatus IS NULL OR deleteStatus=0)
    </select>
    <select id="schoolIsExist" parameterType="com.ral.manages.entity.app.School" resultType="int">
        SELECT count(1) FROM dict_school WHERE 1=1 AND name=#{school.name}
    </select>
    <select id="schoolEditQuery" parameterType="com.ral.manages.entity.app.School" resultType="map">
        SELECT <include refid="schoolResult"/> FROM dict_school WHERE 1=1 AND name=#{school.name}
    </select>
    <select id="schoolIdQuery" parameterType="com.ral.manages.entity.app.School" resultType="map">
        SELECT <include refid="schoolResult"/> FROM dict_school WHERE 1=1 AND school_id=#{school.school_id}
    </select>

    <!--新增-->
    <insert id="schoolInsert" parameterType="com.ral.manages.entity.app.School">
        INSERT INTO dict_school(school_id,name,info,influence,deleteStatus)
        VALUES(#{school.school_id},#{school.name},#{school.info},#{school.influence},#{school.deleteStatus})
    </insert>


    <!--修改-->
    <update id="schoolUpdate"  parameterType="com.ral.manages.entity.app.School">
        UPDATE dict_school SET name=#{school.name},info=#{school.info},influence=#{school.influence} WHERE 1=1 AND school_id=#{school.school_id}
    </update>


    <!--删除-->
    <update id="schoolDelete" parameterType="com.ral.manages.entity.app.School">
        UPDATE dict_school SET deleteStatus=#{school.deleteStatus} WHERE 1=1 AND name=#{school.name}
    </update>
    <update id="schoolBatchDelete" parameterType="map">
        UPDATE dict_school SET deleteStatus=#{deleteStatus} WHERE 1=1 AND name=#{name}
    </update>
</mapper>