<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ral.manages.mapper.manage.IAccountMapper">

    <sql id="accountResult">
        id,account,pass,source,tellphone,lrrq,cancellation
    </sql>
    <sql id="conditionalCheck">
        <if test="account != null and account != ''">
         AND account like '%${account}%'
        </if>
        <if test="tellphone != null and tellphone != ''">
         AND tellphone like '%${tellphone}%'
        </if>
        <if test="starttime != null and starttime != ''">
         AND cast(lrrq as date) <![CDATA[>=]]> to_date(#{starttime},'yyyy-MM-dd')
        </if>
        <if test="endtime != null and endtime != ''">
         AND cast(lrrq as date) <![CDATA[<=]]> to_date(#{endtime},'yyyy-MM-dd')+1
        </if>
    </sql>

    <!--<select id="selectAccountToPage" parameterType="map" resultType="list">
        SELECT <include refid="accountResult"/> FROM biz_user WHERE 1=1 <include refid="conditionalCheck"/> ORDER BY lrrq DESC
    </select>-->
    <select id="selectAccountToPage" resultType="map">
    	SELECT *
    	FROM biz_user
    </select>


    <insert id="insertAccount" parameterType="com.ral.manages.entity.manage.Account">
        INSERT INTO biz_user(id,account,pass,source,tellphone,lrrq,cancellation)
        VALUES (#{account.id},#{account.account},#{account.source},#{account.tellphone},#{account.lrrq},#{account.cancellation})
    </insert>

    <update id="updateAccount" parameterType="com.ral.manages.entity.manage.Account">
        UPDATE biz_user SET tellphone=#{account.tellphone},cancellation=#{account.cancellation}
        WHERE 1=1 AND account=#{account.account} AND pass=#{account.pass}
    </update>

    <delete id="deleteAccount" parameterType="com.ral.manages.entity.manage.Account">
        UPDATE biz_user SET cancellation=#{account.cancellation}
        WHERE 1=1 AND account=#{account.account} AND pass=#{account.pass}
    </delete>


</mapper>