<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ral.manages.mapper.manage.IAccountMapper">

    <sql id="accountResult">
        id,account,password,source,tellphone,DATE_FORMAT(lrrq,'%Y-%m-%d %H:%i:%s') as lrrq,cancellation
    </sql>
    <sql id="conditionalCheck">
        <if test="account != null and account != ''">
         AND account like '%${account}%'
        </if>
        <if test="tellphone != null and tellphone != ''">
         AND tellphone like '%${tellphone}%'
        </if>
        <if test="starttime != null and starttime != ''">
         AND DATE_FORMAT(lrrq,'%Y-%m-%d') <![CDATA[>=]]> DATE_FORMAT(#{starttime},'%Y-%m-%d')
        </if>
        <if test="endtime != null and endtime != ''">
         AND DATE_FORMAT(lrrq,'%Y-%m-%d') <![CDATA[<=]]> DATE_FORMAT(#{endtime},'%Y-%m-%d')
        </if>
    </sql>

    <!--分页查询-->
    <select id="selectAccountPagingQuery" parameterType="map" resultType="map">
        SELECT  <include refid="accountResult"/>  FROM biz_user WHERE 1=1 AND cancellation!=1  <include refid="conditionalCheck"/>  ORDER BY lrrq DESC
    </select>
    <select id="selectAccountToExist" parameterType="com.ral.manages.entity.manage.Account" resultType="int">
        SELECT COUNT(1) FROM biz_user WHERE 1=1 AND account=#{account.account}
    </select>

    <!--新增-->
    <insert id="insertAccount" parameterType="com.ral.manages.entity.manage.Account">
        INSERT INTO biz_user(id,account,password,source,tellphone,lrrq,cancellation)
        VALUES (#{account.id},#{account.account},#{account.password},#{account.source},#{account.tellphone},#{account.lrrq},#{account.cancellation})
    </insert>

    <!--修改-->
    <update id="updateAccount" parameterType="com.ral.manages.entity.manage.Account">
        UPDATE biz_user SET tellphone=#{account.tellphone} WHERE 1=1 AND account=#{account.account}
    </update>

    <!--删除-->
    <delete id="deleteAccount" parameterType="com.ral.manages.entity.manage.Account">
        UPDATE biz_user SET cancellation=#{account.cancellation}
        WHERE 1=1 AND account=#{account.account}
    </delete>

</mapper>