<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>账号管理</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/favicon.ico}">

    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/base64.js}"></script>
    <script th:src="@{/layui/layui.js}" charset="utf-8"></script>
    <script th:src="@{/js/index.js}" type="text/javascript"></script>
    <script th:src="@{/js/system/account.js}" type="text/javascript"></script>
</head>
<body>
<div class="x-body">

    <!--搜索栏-->
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
            <input class="layui-input" placeholder="请输入账号名" id="account" type="text" autocomplete="off" >
            <input class="layui-input" placeholder="请输入手机号码" id="tellphone" type="number" autocomplete="off" onkeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))">
            <input class="layui-input" placeholder="开始日期" id="starttime">
            <input class="layui-input" placeholder="截止日期" id="endtime">
            <button class="layui-btn" type="button" onclick="pagingQuery()"><i class="layui-icon">&#xe615;</i>查询</button>
            <button class="layui-btn layui-btn-primary" type="button" onclick="account_empty()"><i class="layui-icon">&#xe640;</i>清空条件</button>
        </form>
    </div>

    <!--操作栏-->
    <xblock>
        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon">&#xe640;</i>批量删除</button>
        <button class="layui-btn layui-btn-normal" onclick="x_admin_show('新增用户','.x-body',800,400)"><i class="layui-icon">&#xe654;</i>新增</button>
    </xblock>

    <!--数据栏-->
    <table class="layui-table">
        <!--数据表头-->
        <thead><tr>
            <th><div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div></th>
            <th>ID</th>
            <th>账号名称</th>
            <th>手机号码</th>
            <th>来源</th>
            <th>创建时间</th>
            <th>注销状态</th>
            <th>操作</th>
        </thead>
        <!--数据来源-->
        <tbody class="table" id="showAccountData"></tbody>
    </table>

    <!--分页栏-->
    <div class="page" id="pageInfo"></div>


    <!--新增-->
    <div class="x-body" hidden>
        <form class="layui-form">

            <div class="layui-form-item">
                <label class="layui-form-label"><span class="x-red">*</span>账号名称</label>
                <div class="layui-input-inline">
                    <input type="text" id="add_account" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux" id="errorAccount"></div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label"><span class="x-red">*</span>手机号码</label>
                <div class="layui-input-inline">
                    <input type="number" id="add_tellphone" autocomplete="off" class="layui-input" onkeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))">
                </div>
                <div class="layui-form-mid layui-word-aux" id="errorTellphone"></div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label"><span class="x-red">*</span>密码</label>
                <div class="layui-input-inline">
                    <input type="password" id="add_spassword" autocomplete="off" class="layui-input"></div>
                <div class="layui-form-mid layui-word-aux">由6到16个字符组成</div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label"><span class="x-red">*</span>确认密码</label>
                <div class="layui-input-inline">
                    <input type="password" id="add_epassword" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label"><span class="x-red">*</span>来源</label>
                <div class="layui-input-inline">
                    <input type="text" id="add_source" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label for="add_epassword" class="layui-form-label"></label>
                <button class="layui-btn" lay-filter="add" lay-submit="" type="button" onclick="account_add()">新增</button>
                <button class="layui-btn layui-btn-primary" type="button" onclick="account_reset()">重置</button>
            </div>
        </form>
    </div>

</div>
<script>

    /**初始化*/
    $(function(){
        pagingQuery();
    });

    /**分页查询*/
    function pagingQuery(){
        $("#showAccountData").empty();
        var account = $("#account").val();
        var tellphone = $("#tellphone").val();
        var starttime = $("#starttime").val();
        var endtime = $("#endtime").val();
        $.ajax({
            type:"POST",
            url:"/account/pagingQuery",
            data: JSON.stringify({
                "account":account,
                "tellphone":tellphone,
                "starttime":starttime,
                "endtime":endtime
            }),
            dataType:"JSON",
            contentType:"application/json",
            success:function(data){
                if(data.code == "0" && data.result == "SECCESS"){
                    var rows = $.base64.atob(data.rows,"utf-8");
                    if(isJSON(rows)){
                        obj = JSON.parse(rows);
                        pagePlugin(obj,account,tellphone,starttime,endtime);
                    }
                }else{
                    layer.msg(data.msg);
                }
            }
        })
    }

    /**分页插件*/
    function pagePlugin(obj,account,tellphone,starttime,endtime){
        layui.use('laypage', function(){
            var laypage = layui.laypage;
            laypage.render({
                elem: 'pageInfo'
                ,count: obj.total
                ,layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
                ,theme: '#15c142'
                ,jump:function (obj) {
                    $("#showAccountData").empty();
                    $.ajax({
                        type:"POST",
                        url:"/account/pagingQuery",
                        data: JSON.stringify({
                            "account":account,
                            "tellphone":tellphone,
                            "starttime":starttime,
                            "endtime":endtime,
                            "pageNum":obj.curr,
                            "pageSize":obj.limit
                        }),
                        dataType:"JSON",
                        contentType:"application/json",
                        success:function(data){
                            if(data.code == "0" && data.result == "SECCESS"){
                                var rows = $.base64.atob(data.rows,"utf-8");
                                if(isJSON(rows)){
                                    obj = JSON.parse(rows);
                                    showData(obj);
                                }
                            }else{
                                layer.msg(data.msg);
                            }
                        },
                        error:function () {
                            layer.alert("数据加载超时，请求重试！");
                        }
                    })
                }
            });
        });
    }

    /**数据展示*/
    function showData(obj){
        var total = obj.total;
        var data = "";
        if(total == 0){
            data = "<tr><td colspan='8' style='text-align:center;'>未查询到数据</td></tr>";
        }else {
            $.each(obj.datas,function (i,n) {
                data = data+"<tr>";
                data = data+"<td><div class='layui-unselect layui-form-checkbox' lay-skin='primary' data-id='2'><i class='layui-icon'>&#xe605;</i></div></td>";
                data = data+"<td>"+(i+1)+"</td>";
                data = data+"<td>"+(isNull(n.account))+"</td>";
                data = data+"<td>"+(isNull(n.tellphone))+"</td>";
                data = data+"<td>"+(isNull(n.source))+"</td>";
                data = data+"<td>"+(isNull(n.lrrq))+"</td>";
                data = data+"<td>"+(isNull(n.cancellation))+"</td>";
                data = data+"<td class='td-manage'>";
                data = data+"<a title='编辑' obj='"+$.base64.btoa(JSON.stringify(n),'utf-8')+"' onclick=\"x_admin_show('编辑','/system/account/update',800,400)\" href='javascript:void(0);' class='layui-btn layui-btn-sm layui-btn-warm edit'><i class='layui-icon'>&#xe642;</i>编辑</a>";
                data = data+"<a title='删除' obj='"+$.base64.btoa(JSON.stringify(n),'utf-8')+"' href='javascript:void(0);' class='layui-btn layui-btn-sm layui-btn-danger del'><i class='layui-icon'>&#xe640;</i>删除</a>";
                data = data+"</td></tr>";
            });
        }
        $("#showAccountData").html(data);
    }

    /**删除*/
    $('#showAccountData').on('click','.del',function () {
        var str = $.base64.atob($(this).attr("obj"), "utf-8");
        var obj = JSON.parse(str);
        $.ajax({
            type: "POST",
            dataType: "JSON",
            url: "/account/accountDelete",
            data: {account:obj.account},
            success: function (data) {
                if(data.code == "0" && data.result == "SECCESS") {
                    layer.msg(data.msg);
                    pagingQuery();
                }else{
                    layer.msg(data.msg);
                }
            }
        });
    });

    $('#seeqd').click(function() {
        //切换
        if($(this).html() == "查看清单明细") {
            $('#viewfp2').show();
            $('#viewfp1').hide();
            $(this).html("查看发票明细")
        }
    })

    /*弹出层*/
    /*
        参数解释：
        title   标题
        url     请求的url
        id      需要操作的数据id
        w       弹出层宽度（缺省调默认值）
        h       弹出层高度（缺省调默认值）
    */
    function x_admin_show(title,url,w,h){
        if (title == null || title == '') {
            title=false;
        };
        if (url == null || url == '') {
            url="/system/404";
        };
        if (w == null || w == '') {
            w=($(window).width()*0.9);
        };
        if (h == null || h == '') {
            h=($(window).height() - 50);
        };
        layer.open({
            type: 2,
            area: [w+'px', h +'px'],
            fix: false, //不固定
            maxmin: true,
            shadeClose: true,
            shade:0.4,
            title: title,
            content: url
        });
    }

    /*function deleteData(obj){
        alert(obj);
        var trData = $("#showAccountData tr");
        codeId = $(trData).text();
        alert(trData);
        alert(codeId);
    }*/

    /**批量删除*/
    /*function delAll (argument) {
        var data = tableCheck.getData();
        layer.confirm('确认要删除吗？'+data,function(index){
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {icon: 1});
            $(".layui-form-checked").not('.header').parents('tr').remove();
        });
    }*/

    /**清空条件*/
    function account_empty(){
        document.getElementById("account").value = '';
        document.getElementById("tellphone").value = '';
        document.getElementById("starttime").value = '';
        document.getElementById("endtime").value = '';
    }

    /**判断json格式*/
    function isJSON(str){
        try{
            JSON.parse(str);
            return true;
        }catch (e) {
            return false;
        }
    }

    /**判断字符串*/
    function isNull(str){
        if(str == null || str == ""){
            return "-";
        }else{
            return str;
        }
    }

    /**时间控件*/
    layui.use('laydate', function(){
        var laydate = layui.laydate;
        laydate.render({
            elem: '#starttime'
        });
        laydate.render({
            elem: '#endtime'
        });
    })
</script>
</body>
</html>