
<div class="account-global">
    <div class="account-title">
        <i class="layui-icon" style="font-size: 20px; color: #4E5465;"> 账号管理</i>
    </div>
    <div class="account-data">
        <div class="data-operat">
            <table border="0" class="operat-table">
                <tbody>
                    <tr>
                        <td>用户账号</td>
                        <td><input id="accoutIn" type="text" autocomplete="off" placeholder="请输入" /></td>
                    </tr>


                </tbody>
            </table>
            <!--<ul>
                <ul>
                <div class="layui-form-item">
                    <label class="layui-form-label">用户账号</label>
                    <div class="layui-input-inline">
                        <input name="username" class="layui-input" type="text" placeholder="请输入" autocomplete="off" lay-verify="required">
                    </div>
                </div>
                </ul>
                <ul>
                <div class="layui-form-item">
                    <label class="layui-form-label">用户来源</label>
                    <div class="layui-input-inline">
                        <input name="username" class="layui-input" type="text" placeholder="请输入" autocomplete="off" lay-verify="required">
                    </div>
                </div>
                </ul>
                <ul>
                    <div class="layui-form-item">
                        <label class="layui-form-label">是否注销</label>
                        <div class="layui-input-block">
                            <select name="interest" lay-filter="aihao">
                                <option value=""></option>
                                <option value="">请选择</option>
                                <option value="0">未注销</option>
                                <option value="1">已注销</option>
                            </select>
                        </div>
                    </div>

                </ul>
            </ul>-->
        </div>
        <div class="date-show">
            <table class="layui-hide" id="accountId"></table>
        </div>
    </div>
</div>
