<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="/static/business/css/index.css" media="all">
    <link rel="stylesheet" href="/static/rely/layui/css/layui.css">
    <link rel="stylesheet" href="/static/rely/layui/css/layui.mobile.css">
</head>
<body>
<div class="login-back">
    <div class="login-box">
        <div class="login-title"></div>
        <div class="login-content" id="content">
            <ul class="content-ul">
                <li class="content-li">账号:
                    <input id="username" type="text"  placeholder="请输入账号"/>
                </li>
                <li class="content-li">密码:
                    <input id="password" type="password"  placeholder="请输入密码"/>
                </li>
                <li class="content-li"><a href="" h>忘记密码？</a></li>
                <li class="content-li">
                    <button id="login" onclick="login()">登录</button><button id="logins"><a>注册</a></button>
                </li>
            </ul>
        </div>
    </div>



</div>
    <!--<ul>
        <li style="margin-left: 30px;margin-top: 15px">账号
            <input id="username" type="text"  placeholder="请输入账号" style="width:200px;height:30px;margin-left: 30px"></li>
        <li style="margin-top: 30px;margin-left: 30px">密码
            <input id="password"  type="password" placeholder="请输入密码" style="width:200px;height:30px;margin-left: 30px"></li>
    </ul>
</div>
<div class="modal-footer">
    <a href="#" style="margin-right: 300px" data-toggle="modal" data-target="#myAlterpass">忘记密码？</a>
    <button id="login" class="btn btn-primary" style="width:100px;height:30px;" ONCLICK="login()">登录</button>
    <button type="button" class="btn btn-default" data-dismiss="modal" style="width:100px;height:30px;">关闭</button>
</div>-->

<script type="text/javascript" src="/static/rely/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/static/business/js/index.js"></script>
<script src="/static/rely/layui/layui.js"></script>
</body>
</html>