<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script th:src="@{/js/jquery.min.js}"></script>

<body>
<h3>It's works</h3>
    <button onclick="crosRequest()">跨域请求</button>
<script>
    function crosRequest() {
        $.ajax({
            //url:"http://www.aiurorigin.com/manages/userRedirect",
            url:"http://192.168.0.232:8081/manages/silentRedirect",
            dataType:"json",
            success:function (data) {
                alert("123");
            }
        });
    }
    
</script>
</body>
</html>