<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>

<div class="modal-body" style="width:700px;height:270px;">
    <ul>
        <li style="margin-left: 30px;margin-top: 15px">账号
            <input id="username" type="text"  placeholder="请输入账号" style="width:200px;height:30px;margin-left: 30px"></li>
        <li style="margin-top: 30px;margin-left: 30px">密码
            <input id="password"  type="password" placeholder="请输入密码" style="width:200px;height:30px;margin-left: 30px"></li>
    </ul>
</div>
<div class="modal-footer">
    <a href="#" style="margin-right: 300px" data-toggle="modal" data-target="#myAlterpass">忘记密码？</a>
    <button id="login" class="btn btn-primary" style="width:100px;height:30px;" ONCLICK="login()">登录</button>
    <button type="button" class="btn btn-default" data-dismiss="modal" style="width:100px;height:30px;">关闭</button>
</div>

<script type="text/javascript" src="/static/rely/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/static/business/js/index.js"></script>
</body>
</html>