<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="/static/rely/layui/css/layui.css">
    <link rel="stylesheet" href="/static/rely/layui/css/layui.mobile.css">
    <link rel="stylesheet" href="/static/business/css/main.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header" ><!--style="background: #393D49"-->>
        <div class="layui-logo">管理系统</div>
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="/templates/index.html">用户</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;"><p class="sansserif">
                    <i class="layui-icon">&#xe613;</i>admin</p></a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href=""><p class="sansserif">安全退出</p></a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed" >
                    <a id="accountId" onclick="account()" href="/static/business/html/account.html"><p class="sansserif">账号管理</p></a>
                </li>
                <li class="layui-nav-item">
                    <a  href="/static/business/html/school.html"><p class="sansserif">人物管理</p></a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><p class="sansserif">武学管理</p></a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><p class="sansserif">招式管理</p></a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><p class="sansserif">效果管理</p></a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><p class="sansserif">buff管理</p></a>
                </li>
                <li class="layui-nav-item">
                    <a id="schoolId" href="/static/business/html/school.html"><p class="sansserif">门派管理</p></a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><p class="sansserif">内容管理</p></a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">列表一</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><p class="sansserif">状态管理</p></a>
                    <dl class="layui-nav-child">
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><p class="sansserif">物品管理</p></a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">列表一</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><p class="sansserif">装备管理</p></a>
                    <dl class="layui-nav-child">
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><p class="sansserif">订单管理</p></a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">列表一</a></dd>
                        <dd><a href="javascript:;">列表二</a></dd>
                        <dd><a href="javascript:;">列表三</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <div class="showData">
            <iframe src="/static/business/html/account.html" width="100%" height="100%"></iframe>
        </div>
    </div>

    <div class="layui-footer" >
        © 2019 game.com
    </div>
</div>
<script src="/static/rely/layui/layui.js"></script>
<script src="/static/business/js/main.js"></script>
</body>
</html>