<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ManageSystem</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/main.css}">

    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/layui/layui.js}" charset="utf-8"></script>
    <script th:src="@{/js/main.js}" type="text/javascript"></script>

<body>
<!-- 顶部栏 -->
<div class="container">
    <div class="logo"><a href="">ManageSystem</a></div>
    <div class="left_open">
        <i title="展开左侧栏" class="layui-icon layui-icon-shrink-right iconfont"></i>
    </div>
    <ul class="layui-nav right" lay-filter="">
        <li class="layui-nav-item">
            <input id="usernameId" type="text" autocomplete="off" class="layui-input" style="width:120px"/>
            <dl class="layui-nav-child">
                <dd><a href="/manages/login">切换帐号</a></dd>
                <dd><a href="http://www.baidu.com">个人信息</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item to-index"><a href="/manages/login">安全退出</a></li>
    </ul>
</div>

<!-- 左侧栏 -->
<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">
            <!--主页-->
            <li>
                <a _href="javascript:;">
                    <i class="layui-icon layui-icon-home iconfont "></i>
                    <cite>主页</cite>
                </a>
            </li>
            <!--应用管理-->
            <li >
                <a href="javascript:void(0);">
                    <i class="layui-icon layui-icon-app iconfont"></i>
                    <cite>应用管理</cite>
                    <i class="layui-icon iconfont nav_right">&#xe602;</i>
                </a>
                <ul class="sub-menu">
                    <li><a _href="/manages/system/account"><span>&emsp;&emsp;</span><cite>账号管理</cite></a></li >
                    <li><a _href="/manages/system/school"><span>&emsp;&emsp;</span><cite>门派管理</cite></a></li>
                    <li><a _href="/manages/system/effect"><span>&emsp;&emsp;</span><cite>效果管理</cite></a></li>
                    <li><a _href="/manages/system/move"><span>&emsp;&emsp;</span><cite>招式管理</cite></a></li>
                    <li><a _href="/manages/system/kongFu"><span>&emsp;&emsp;</span><cite>武学管理</cite></a></li>
                    <li><a _href="/manages/system/article"><span>&emsp;&emsp;</span><cite>物品管理</cite></a></li>
                    <li><a _href="/manages/system/base"><span>&emsp;&emsp;</span><cite>人物管理</cite></a></li>
                    <li><a _href=""><span>&emsp;&emsp;</span><cite>buff管理</cite></a></li>
                    <li><a _href=""><span>&emsp;&emsp;</span><cite>内容管理</cite></a></li>
                    <li><a _href=""><span>&emsp;&emsp;</span><cite>状态管理</cite></a></li>
                    <li><a _href=""><span>&emsp;&emsp;</span><cite>装备管理</cite></a></li>
                </ul>
            </li>
            <!--订单管理-->
            <li>
                <a href="javascript:void(0);">
                    <i class="layui-icon layui-icon-templeate-1 iconfont"></i>
                    <cite>订单管理</cite>
                    <i class="layui-icon iconfont nav_right">&#xe602;</i>
                </a>
                <ul class="sub-menu">
                    <li><a _href=""><i class="layui-icon layui-icon-form iconfont"></i><cite>订单列表</cite></a></li >
                </ul>
            </li>
            <!--会员管理-->
            <li>
                <a href="javascript:void(0);">
                    <i class="layui-icon layui-icon-templeate-1 iconfont"></i>
                    <cite>会员管理</cite>
                    <i class="layui-icon iconfont nav_right">&#xe602;</i>
                </a>
                <ul class="sub-menu">
                    <li><a _href=""><i class="layui-icon layui-icon-form iconfont"></i><cite>会员管理</cite></a></li >
                </ul>
            </li>
            <!--权限管理-->
            <li>
                <a href="javascript:void(0);">
                    <i class="layui-icon iconfont layui-icon-auz"></i>
                    <cite>权限管理</cite>
                    <i class="layui-icon iconfont nav_right">&#xe602;</i>
                </a>
                <ul class="sub-menu">
                    <li><a _href=""><i class="layui-icon layui-icon-user iconfont"></i><cite>用户管理</cite></a></li>
                    <li><a _href=""><i class="layui-icon layui-icon-auz confont"></i><cite>权限分类</cite></a></li >>
                </ul>
            </li>
        </ul>
    </div>
</div>

<!-- 右侧栏 -->
<div class="page-content">
    <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
        <ul class="layui-tab-title">
            <li class="home"><i class="layui-icon layui-icon-home"></i>我的主页</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <iframe src='' frameborder="0" scrolling="yes" class="x-iframe"></iframe>
            </div>
        </div>
    </div>
</div>
<div class="page-content-bg"></div>

<!-- 底部栏 -->
<div class="footer">
    <div class="copyright">Copyright ©2019 L-admin v2.3 All Rights Reserved</div>
</div>
<script>
    $(function () {
        document.getElementById("usernameId").value = GetRequest().username;
    });
    function GetRequest() {
        var url = location.search; //获取url中"?"符后的字串
        var theRequest = new Object();
        if (url.indexOf("?") != -1) {
            var str = url.substr(1);
            strs = str.split("&");
            for(var i = 0; i < strs.length; i ++) {
                theRequest[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]);
            }
        }
        return theRequest;
    }
</script>
</body>
</html>