<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>效果管理</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">

    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/base64.js}"></script>
    <script th:src="@{/layui/layui.js}" charset="utf-8"></script>
    <script th:src="@{/js/main.js}" type="text/javascript"></script>
</head>
<body>
<div class="x-body">
    <!--搜索栏-->
    <div class="layui-row">
        <div class="search-conditional">
            <form class="layui-form-item layui-form">
                <div class="layui-inline">
                    <label class="layui-form-label">效果名称</label>
                    <div class="layui-input-inline inputWidth" >
                        <input id="query_name" type="text" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">执行目标</label>
                    <div class="layui-input-inline inputWidth" >
                        <select id="query_target" class="layui-input">
                            <option value="">全选</option>
                            <option value="0">自己</option>
                            <option value="1">对方</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="search-button">
            <div class="layui-inline">
                <button onclick="pagingQuery()" type="button" class="layui-btn"><i class="layui-icon layui-icon-search"></i>查询</button>
            </div>
            <div class="layui-inline">
                <button onclick="cleanUp()" type="button" class="layui-btn layui-btn-primary"><i class="layui-icon layui-icon-delete"></i>清空条件</button>
            </div>
        </div>
    </div>

    <!--数据栏-->
    <table class="layui-table" id="dataInfo" lay-filter="dataInfo"></table>
    <div class="layui-btn-container" id="toolbarBomb" hidden>
        <button class="layui-btn layui-btn-danger" lay-event="bombDelete"><i class="layui-icon layui-icon-delete"></i>批量删除</button>
        <button class="layui-btn layui-btn-normal" lay-event="bombAdd"><i class="layui-icon layui-icon-add-1"></i>新增</button>
    </div>
    <script type="text/html" id="operational">
        <a class="layui-btn layui-btn-xs layui-btn-primary" lay-event="see"><i class='layui-icon layui-icon-read'></i>查看</a>
        <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="edit"><i class='layui-icon layui-icon-edit'></i>编辑</a>
        <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del"><i class='layui-icon layui-icon-delete'></i>删除</a>
    </script>

    <!--新增栏-->
    <div class="x-body" id="addInfo" aria-hidden="true" hidden>
        <form class="layui-form-item layui-form">
            <div class="layui-inline">
                <label class="layui-form-label"><span class="x-red">*</span>效果名称</label>
                <div class="layui-input-inline inputWidth" >
                    <input id="add_name" type="text" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><span class="x-red">*</span>执行目标</label>
                <div class="layui-input-inline inputWidth" >
                    <select id="add_target" class="layui-input">
                        <option value="0">自己</option>
                        <option value="1">对方</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><span class="x-red">*</span>HP影响&nbsp;&nbsp; </label>
                <div class="layui-input-inline inputWidth">
                    <input id="add_hp" type="number" autocomplete="off" class="layui-input"  placeholder="请输入HP影响值" onkeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><span class="x-red">*</span>黄球影响</label>
                <div class="layui-input-inline inputWidth">
                    <input id="add_mp_yellow" type="text" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><span class="x-red">*</span>金球影响</label>
                <div class="layui-input-inline inputWidth">
                    <input id="add_mp_gold" type="text" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><span class="x-red">*</span>绿球影响</label>
                <div class="layui-input-inline inputWidth">
                    <input id="add_mp_green" type="text" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><span class="x-red">*</span>蓝球影响</label>
                <div class="layui-input-inline inputWidth">
                    <input id="add_mp_blue" type="text" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><span class="x-red">*</span>紫球影响</label>
                <div class="layui-input-inline inputWidth">
                    <input id="add_mp_purple" type="text" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><span class="x-red">*</span>攻击力&emsp;</label>
                <div class="layui-input-inline inputWidth">
                    <input id="add_aggressivity" type="number" autocomplete="off" class="layui-input" onkeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><span class="x-red">*</span>防御力&emsp;</label>
                <div class="layui-input-inline inputWidth">
                    <input id="add_defense" type="number" autocomplete="off" class="layui-input" onkeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><span class="x-red">*</span>暴击力&emsp;</label>
                <div class="layui-input-inline inputWidth">
                    <input id="add_burst" type="number" autocomplete="off" class="layui-input" onkeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><span class="x-red">*</span>外伤&emsp;&emsp;</label>
                <div class="layui-input-inline inputWidth">
                    <input id="add_injury" type="number" autocomplete="off" class="layui-input" onkeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><span class="x-red">*</span>内伤&emsp;&emsp;</label>
                <div class="layui-input-inline inputWidth">
                    <input id="add_internal_injury" type="number" autocomplete="off" class="layui-input" onkeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><span class="x-red">*</span>毒伤&emsp;&emsp;</label>
                <div class="layui-input-inline inputWidth">
                    <input id="add_poisoning" type="number" autocomplete="off" class="layui-input" onkeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><span class="x-red">*</span>击晕率&emsp;</label>
                <div class="layui-input-inline inputWidth">
                    <input id="add_stun" type="number" autocomplete="off" class="layui-input" onkeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><span class="x-red">*</span>闪避率&emsp;</label>
                <div class="layui-input-inline inputWidth">
                    <input id="add_dodge" type="number" autocomplete="off" class="layui-input" onkeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><span class="x-red">*</span>命中率&emsp;</label>
                <div class="layui-input-inline inputWidth">
                    <input id="add_hit_rate" type="number" autocomplete="off" class="layui-input" onkeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><span class="x-red">*</span>暴击率&emsp;</label>
                <div class="layui-input-inline inputWidth">
                    <input id="add_crit_rate" type="number" autocomplete="off" class="layui-input" onkeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><span class="x-red">*</span>吸血&emsp;&emsp;</label>
                <div class="layui-input-inline inputWidth">
                    <input id="add_suck_HP" type="number" autocomplete="off" class="layui-input" onkeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><span class="x-red">*</span>黄球影响</label>
                <div class="layui-input-inline inputWidth">
                    <input id="add_suck_mp_yellow" type="text" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><span class="x-red">*</span>金球影响</label>
                <div class="layui-input-inline inputWidth">
                    <input id="add_suck_mp_gold" type="text" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><span class="x-red">*</span>绿球影响</label>
                <div class="layui-input-inline inputWidth">
                    <input id="add_suck_mp_green" type="text" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><span class="x-red">*</span>蓝球影响</label>
                <div class="layui-input-inline inputWidth">
                    <input id="add_suck_mp_blue" type="text" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><span class="x-red">*</span>紫球影响</label>
                <div class="layui-input-inline inputWidth">
                    <input id="add_suck_mp_purple" type="text" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">效果说明</label>
                <div class="layui-input-inline">
                    <textarea id="add_info" placeholder="请输入内容" class="layui-textarea layui-input-width1"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"></label>
                <button onclick="addRequest()" type="button" class="layui-btn">新增</button>
                <button onclick="addReset()" type="button" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </form>
    </div>

    <!--详情栏-->
    <div class="x-body" id="detailsInfo" aria-hidden="true" hidden>

    </div>

    <!--编辑栏-->
    <div class="x-body" id="editInfo" aria-hidden="true" hidden>
        <form class="layui-form-item layui-form">
            <div class="layui-form-item" hidden>
                <label class="layui-form-label"><span class="x-red">*</span>效果ID</label>
                <div class="layui-input-inline inputWidth">
                    <input id="edit_effect_id" type="text" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><span class="x-red">*</span>效果名称</label>
                <div class="layui-input-inline inputWidth">
                    <input id="edit_name" type="text" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><span class="x-red">*</span>执行目标</label>
                <div class="layui-input-inline inputWidth" >
                    <select id="edit_target" class="layui-input">
                        <option value="0">自己</option>
                        <option value="1">对方</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><span class="x-red">*</span>HP影响&nbsp;&nbsp; </label>
                <div class="layui-input-inline inputWidth">
                    <input id="edit_hp" type="number" autocomplete="off" class="layui-input"  placeholder="请输入HP影响值" onkeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><span class="x-red">*</span>黄球影响</label>
                <div class="layui-input-inline inputWidth">
                    <input id="edit_mp_yellow" type="text" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><span class="x-red">*</span>金球影响</label>
                <div class="layui-input-inline inputWidth">
                    <input id="edit_mp_gold" type="text" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><span class="x-red">*</span>绿球影响</label>
                <div class="layui-input-inline inputWidth">
                    <input id="edit_mp_green" type="text" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><span class="x-red">*</span>蓝球影响</label>
                <div class="layui-input-inline inputWidth">
                    <input id="edit_mp_blue" type="text" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><span class="x-red">*</span>紫球影响</label>
                <div class="layui-input-inline inputWidth">
                    <input id="edit_mp_purple" type="text" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><span class="x-red">*</span>攻击力&emsp;</label>
                <div class="layui-input-inline inputWidth">
                    <input id="edit_aggressivity" type="number" autocomplete="off" class="layui-input" onkeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><span class="x-red">*</span>防御力&emsp;</label>
                <div class="layui-input-inline inputWidth">
                    <input id="edit_defense" type="number" autocomplete="off" class="layui-input" onkeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><span class="x-red">*</span>暴击力&emsp;</label>
                <div class="layui-input-inline inputWidth">
                    <input id="edit_burst" type="number" autocomplete="off" class="layui-input" onkeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><span class="x-red">*</span>外伤&emsp;&emsp;</label>
                <div class="layui-input-inline inputWidth">
                    <input id="edit_injury" type="number" autocomplete="off" class="layui-input" onkeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><span class="x-red">*</span>内伤&emsp;&emsp;</label>
                <div class="layui-input-inline inputWidth">
                    <input id="edit_internal_injury" type="number" autocomplete="off" class="layui-input" onkeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><span class="x-red">*</span>毒伤&emsp;&emsp;</label>
                <div class="layui-input-inline inputWidth">
                    <input id="edit_poisoning" type="number" autocomplete="off" class="layui-input" onkeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><span class="x-red">*</span>击晕率&emsp;</label>
                <div class="layui-input-inline inputWidth">
                    <input id="edit_stun" type="number" autocomplete="off" class="layui-input" onkeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><span class="x-red">*</span>闪避率&emsp;</label>
                <div class="layui-input-inline inputWidth">
                    <input id="edit_dodge" type="number" autocomplete="off" class="layui-input" onkeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><span class="x-red">*</span>命中率&emsp;</label>
                <div class="layui-input-inline inputWidth">
                    <input id="edit_hit_rate" type="number" autocomplete="off" class="layui-input" onkeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><span class="x-red">*</span>暴击率&emsp;</label>
                <div class="layui-input-inline inputWidth">
                    <input id="edit_crit_rate" type="number" autocomplete="off" class="layui-input" onkeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><span class="x-red">*</span>吸血&emsp;&emsp;</label>
                <div class="layui-input-inline inputWidth">
                    <input id="edit_suck_HP" type="number" autocomplete="off" class="layui-input" onkeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><span class="x-red">*</span>黄球影响</label>
                <div class="layui-input-inline inputWidth">
                    <input id="edit_suck_mp_yellow" type="text" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><span class="x-red">*</span>金球影响</label>
                <div class="layui-input-inline inputWidth">
                    <input id="edit_suck_mp_gold" type="text" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><span class="x-red">*</span>绿球影响</label>
                <div class="layui-input-inline inputWidth">
                    <input id="edit_suck_mp_green" type="text" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><span class="x-red">*</span>蓝球影响</label>
                <div class="layui-input-inline inputWidth">
                    <input id="edit_suck_mp_blue" type="text" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><span class="x-red">*</span>紫球影响</label>
                <div class="layui-input-inline inputWidth">
                    <input id="edit_suck_mp_purple" type="text" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">效果说明</label>
                <div class="layui-input-inline" style="width: 500px;">
                    <textarea id="edit_info" placeholder="请输入内容" class="layui-textarea layui-input-width1"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="add_target" class="layui-form-label"></label>
                <button onclick="editRequest()" type="button" class="layui-btn">修改</button>
                <button onclick="editReset()" type="button" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </form>
    </div>
</div>
<script>
    /*查询*/
    $(function(){
        pagingQuery()
    });
    function pagingQuery(){
        $("#dataInfo").empty();
        var params = {
            name:$("#query_name").val(),
            target:$("#query_target").val()
        };
        layui.use(['layer','table'],function (){
            var layer = layui.layer,table = layui.table;
            table.render({
                elem:'#dataInfo',
                url:'/effect/pagingQuery',
                method:'POST',
                contentType:"application/json",
                toolbar:'#toolbarBomb',
                id:'#dataInfo',
                height:520,
                title:'效果管理',
                even:true,
                expandRow:true,
                where:params,
                page:true,
                limit:10,
                limits:[10, 20, 30, 40, 50],
                parseData:function (res){
                    var rows = $.base64.atob(res.rows,"utf-8");
                    if(isJSON(rows)){
                        var obj = JSON.parse(rows);
                        return {
                            "code":res.code,
                            "msg":res.msg,
                            "count":obj.total,
                            "data":obj.data
                        }
                    }
                },
                cols:[
                    [
                        {type:'checkbox',fixed:'felt'},
                        {type:'numbers',title:'序号',align:'center',fixed:'felt'},
                        {field:'name',title:'效果名称',sort:true},
                        {field:'target',title:'执行目标'},
                        {field:'Aggressivity',title:'攻击力'},
                        {field:'Defense',title:'防御力'},
                        {field:'burst',title:'暴击力'},
                        {field:'hp',title:'HP影响',sort:true},
                        {field:'injury',title:'外伤'},
                        {field:'internal_injury',title:'内伤'},
                        {field:'poisoning',title:'毒伤'},
                        {field:'suck_HP',title:'吸血',sort:true},
                        {fixed:'right',title:'操作',width:300,align:'center',toolbar:'#operational'}
                    ]
                ]
            });
            //勾选批量删除
            table.on('checkbox(dataInfo)',function(){
                table.on('toolbar(dataInfo)',function (obj){
                    var checkStatus = table.checkStatus(obj.config.id);
                    if(obj.event === 'bombAdd'){
                        add();
                    }else if(obj.event === 'bombDelete'){
                        batchDel(checkStatus);
                    }
                });
            });
            //查看、编辑、删除
            table.on('tool(dataInfo)',function (obj){
                var data = obj.data;
                if(obj.event === 'see'){
                    see(data);
                }else if (obj.event === 'edit'){
                    edit(data);
                }else if (obj.event === 'del'){
                    del(data);
                }
            });
            //新增
            table.on('toolbar(dataInfo)',function (obj){
                if(obj.event === 'bombAdd'){
                    add();
                }else if(obj.event === 'bombDelete'){
                    layer.msg("请勾选一条数据进行删除");
                }
            });
        });
    }

    /*清空条件*/
    function cleanUp() {
        $("#query_name").val('');
        $("#query_target").val("");
        layui.form.render("select");
        pagingQuery();
    }

    /*批量删除*/
    function batchDel(checkStatus){
        var data = checkStatus.data;
        if(data.length <= 0){
            layer.msg("请勾选一条数据进行删除");
            return;
        }
        layer.confirm('请确定要删除这'+data.length+'条数据吗？', {
                btn: ['确定','取消']
            }, function(){
                var params = {
                    data:$.base64.btoa(JSON.stringify(data),"utf-8")
                };
                $.ajax({
                    type:"POST",
                    dataType:"JSON",
                    url:"/effect/inBatchDelete",
                    contentType:"application/json",
                    data:JSON.stringify(params),
                    success:function (data) {
                        if (data.code === "0" && data.result === "SECCESS") {
                            layer.msg("删除成功",{icon:1});
                            pagingQuery();
                        }else{
                            layer.msg(data.msg,{icon:2});
                        }
                    }
                });
            }, function(){
                layer.closeAll();
            }
        );
    }

    /*新增*/
    function add() {
        addReset();
        layer.open({
            type: 1,
            offset: "auto",
            id: 'layerDemo'+'auto',
            area: [100+'%', 100 +'%'],
            fix: false,
            maxmin: true,
            shadeClose: true,
            shade:0.4,
            title: "新增",
            content: $("#addInfo"),
            yes:function() {
                $("#addInfo").hide();
            }
        });
    }
    function addRequest() {
        var params = {
            name:$("#add_name").val(),
            target:Number($("#add_target").val()),
            hp:Number($("#add_hp").val()),
            mp_yellow:$("#add_mp_yellow").val(),
            mp_gold:$("#add_mp_gold").val(),
            mp_green:$("#add_mp_green").val(),
            mp_blue:$("#add_mp_blue").val(),
            mp_purple:$("#add_mp_purple").val(),
            Aggressivity:Number($("#add_aggressivity").val()),
            Defense:Number($("#add_defense").val()),
            burst:Number($("#add_burst").val()),
            injury:Number($("#add_injury").val()),
            internal_injury:Number($("#add_internal_injury").val()),
            poisoning:Number($("#add_poisoning").val()),
            stun:Number($("#add_stun").val()),
            dodge:Number($("#add_dodge").val()),
            hit_rate:Number($("#add_hit_rate").val()),
            crit_rate:Number($("#add_crit_rate").val()),
            suck_HP:Number($("#add_suck_HP").val()),
            suck_mp_yellow:$("#add_suck_mp_yellow").val(),
            suck_mp_gold:$("#add_suck_mp_gold").val(),
            suck_mp_green:$("#add_suck_mp_green").val(),
            suck_mp_blue:$("#add_suck_mp_blue").val(),
            suck_mp_purple:$("#add_suck_mp_purple").val(),
            info:$("#add_info").val()
        };
        $.ajax({
            type:"POST",
            dataType:"JSON",
            url:"/effect/inAdd",
            data:params,
            success:function (data) {
                if (data.code === "0" && data.result === "SECCESS") {
                    layer.msg("新增成功",{icon:1});
                    pagingQuery();
                }else{
                    layer.msg(data.msg,{icon:2});
                }
            }
        });
    }
    function checkAddParams(params){

    }
    function addReset() {
        $("#add_name").val('');
        $("#add_hp").val('');
        $("#add_mp_yellow").val('');
        $("#add_mp_gold").val('');
        $("#add_mp_green").val('');
        $("#add_mp_blue").val('');
        $("#add_mp_purple").val('');
        $("#add_aggressivity").val('');
        $("#add_defense").val('');
        $("#add_burst").val('');
        $("#add_injury").val('');
        $("#add_internal_injury").val('');
        $("#add_poisoning").val('');
        $("#add_stun").val('');
        $("#add_dodge").val('');
        $("#add_hit_rate").val('');
        $("#add_crit_rate").val('');
        $("#add_suck_HP").val('');
        $("#add_suck_mp_yellow").val('');
        $("#add_suck_mp_gold").val('');
        $("#add_suck_mp_green").val('');
        $("#add_suck_mp_blue").val('');
        $("#add_suck_mp_purple").val('');
        $("#add_info").val('');
    }

    /*查看*/
    function see(data){
        layer.open({
            type: 1,
            offset: "auto",
            id: 'layerDemo'+'auto',
            area: [100+'%', 100 +'%'],
            fix: false,
            maxmin: true,
            shadeClose: true,
            btn: ['明白了'],
            shade:0.4,
            title: '详情',
            content: $("#detailsInfo"),
            yes:function() {
                $("#detailsInfo").hide();
            }
        });
    }

    /*编辑*/
    function edit(data){
        var params = {
            effect_id:data.effect_id,
            name:data.name
        };
        $.ajax({
            type:"POST",
            dataType:"JSON",
            url:"/effect/editQuery",
            data:params,
            success:function (data) {
                if(data.code === "0" && data.result === "SECCESS") {
                    var rows = $.base64.atob(data.rows,"utf-8");
                    if(isJSON(rows)) {
                        var obj = JSON.parse(rows);
                        editOpen(obj);
                    }
                }else{
                    layer.msg(data.msg,{icon:2});
                }
            }
        });
    }
    function editOpen(obj){
        document.getElementById("edit_effect_id").value = isNull(obj.effect_id);
        document.getElementById("edit_name").value = isNull(obj.name);
        $("#edit_target").val(String(obj.target));
        layui.form.render("select");
        document.getElementById("edit_hp").value = isNull(obj.hp);
        document.getElementById("edit_mp_yellow").value = isNull(obj.mp_yellow);
        document.getElementById("edit_mp_gold").value = isNull(obj.mp_gold);
        document.getElementById("edit_mp_green").value = isNull(obj.mp_green);
        document.getElementById("edit_mp_blue").value = isNull(obj.mp_blue);
        document.getElementById("edit_mp_purple").value = isNull(obj.mp_purple);
        document.getElementById("edit_aggressivity").value = isNull(obj.Aggressivity);
        document.getElementById("edit_defense").value = isNull(obj.Defense);
        document.getElementById("edit_burst").value = isNull(obj.burst);
        document.getElementById("edit_injury").value = isNull(obj.injury);
        document.getElementById("edit_internal_injury").value = isNull(obj.internal_injury);
        document.getElementById("edit_poisoning").value = isNull(obj.poisoning);
        document.getElementById("edit_stun").value = isNull(obj.stun);
        document.getElementById("edit_dodge").value = isNull(obj.dodge);
        document.getElementById("edit_hit_rate").value = isNull(obj.hit_rate);
        document.getElementById("edit_crit_rate").value = isNull(obj.crit_rate);
        document.getElementById("edit_suck_HP").value = isNull(obj.suck_HP);
        document.getElementById("edit_suck_mp_yellow").value = isNull(obj.suck_mp_yellow);
        document.getElementById("edit_suck_mp_gold").value = isNull(obj.suck_mp_gold);
        document.getElementById("edit_suck_mp_green").value = isNull(obj.suck_mp_green);
        document.getElementById("edit_suck_mp_blue").value = isNull(obj.suck_mp_blue);
        document.getElementById("edit_suck_mp_purple").value = isNull(obj.suck_mp_purple);
        document.getElementById("edit_info").value = isNull(obj.info);
        layer.open({
            type: 1,
            offset: "auto",
            id: 'layerDemo'+'auto',
            area: [100+'%', 100 +'%'],
            fix: false,
            maxmin: true,
            shadeClose: true,
            shade:0.4,
            title: "编辑",
            content: $("#editInfo"),
            yes:function() {
                $("#editInfo").hide();
            }
        });
    }
    function editRequest(){
        var params = {
            effect_id:$("#edit_effect_id").val(),
            name:$("#edit_name").val(),
            target:Number($("#edit_target").val()),
            hp:Number($("#edit_hp").val()),
            mp_yellow:$("#edit_mp_yellow").val(),
            mp_gold:$("#edit_mp_gold").val(),
            mp_green:$("#edit_mp_green").val(),
            mp_blue:$("#edit_mp_blue").val(),
            mp_purple:$("#edit_mp_purple").val(),
            Aggressivity:Number($("#edit_aggressivity").val()),
            Defense:Number($("#edit_defense").val()),
            burst:Number($("#edit_burst").val()),
            injury:Number($("#edit_injury").val()),
            internal_injury:Number($("#edit_internal_injury").val()),
            poisoning:Number($("#edit_poisoning").val()),
            stun:Number($("#edit_stun").val()),
            dodge:Number($("#edit_dodge").val()),
            hit_rate:Number($("#edit_hit_rate").val()),
            crit_rate:Number($("#edit_crit_rate").val()),
            suck_HP:Number($("#edit_suck_HP").val()),
            suck_mp_yellow:$("#edit_suck_mp_yellow").val(),
            suck_mp_gold:$("#edit_suck_mp_gold").val(),
            suck_mp_green:$("#edit_suck_mp_green").val(),
            suck_mp_blue:$("#edit_suck_mp_blue").val(),
            suck_mp_purple:$("#edit_suck_mp_purple").val(),
            info:$("#edit_info").val()
        };
        $.ajax({
            type:"POST",
            dataType:"JSON",
            url:"/effect/inUpdate",
            data:params,
            success: function (data) {
                if (data.code === "0" && data.result === "SECCESS") {
                    layer.msg("修改成功",{icon:1});
                    pagingQuery();
                }else{
                    layer.msg(data.msg,{icon:2});
                }
            }
        });
    }
    function editReset(){
        $("#edit_hp").val('');
        $("#edit_mp_yellow").val('');
        $("#edit_mp_gold").val('');
        $("#edit_mp_green").val('');
        $("#edit_mp_blue").val('');
        $("#edit_mp_purple").val('');
        $("#edit_aggressivity").val('');
        $("#edit_defense").val('');
        $("#edit_burst").val('');
        $("#edit_injury").val('');
        $("#edit_internal_injury").val('');
        $("#edit_poisoning").val('');
        $("#edit_stun").val('');
        $("#edit_dodge").val('');
        $("#edit_hit_rate").val('');
        $("#edit_crit_rate").val('');
        $("#edit_suck_HP").val('');
        $("#edit_suck_mp_yellow").val('');
        $("#edit_suck_mp_gold").val('');
        $("#edit_suck_mp_green").val('');
        $("#edit_suck_mp_blue").val('');
        $("#edit_suck_mp_purple").val('');
        $("#edit_info").val('');
    }

    /*删除*/
    function del(data){
        var params = {
            effect_id:data.effect_id,
            name:data.name
        };
        $.ajax({
            type:"POST",
            dataType:"JSON",
            url:"/effect/inDelete",
            data:params,
            success:function (data) {
                if(data.code === "0" && data.result === "SECCESS") {
                    layer.msg("删除成功",{icon:1});
                    pagingQuery();
                }else{
                    layer.msg(data.msg,{icon:2});
                }
            }
        });
    }

    /*判断json格式*/
    function isJSON(str){
        try{
            JSON.parse(str);
            return true;
        }catch (e) {
            return false;
        }
    }

    /*判断字符串*/
    function isNull(str){
        if(str === null || str === ""){
            return "";
        }else{
            return str;
        }
    }
</script>
</body>
</html>