@charset "utf-8";
a{text-decoration: none;color:gray;}
a:HOVER{color:white !important;text-decoration:none !important;}
a:link{text-decoration:none;}
a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
a:active{text-decoration:none;}
ul li{list-style: none;}
textarea {outline: 0px; font-family: "微软雅黑", Arial; font-size: 14px; -webkit-appearance: none;}

.login-back{
	width: 100%;
	min-height: 900px;
	position: absolute;
}
.login-box{
	margin-left: 30%;
	margin-top: 250px;
	height: 500px;
	width: 600px;
	border: 5px solid #FBFBFB;
	box-shadow:4px 4px 10px #FBFBFB;
}
.login-title{
	height: 80px;
	width: auto;
	background-color: #5FB878;
}
.login-content{
	height: 420px;
	width: auto;
}
.login-content ul{
	text-align:center;
	float:left;
}
.login-content ul li{
	padding-top: 50px;
	padding-left: 120px;
	font-size: 20px;
}
.content-li input{
	height: 40px;
}
.content-li button{
	height: 40px;
	width: 140px;
	background-color: #5FB878;
	border-radius:5px 5px 5px 5px
}

/*

!*登录*!
.login-header{
	width: 100%;
	height: 57px;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: 3;
}
.login-header.content{
	margin: 0 auto;
	width: 1200px;
	overflow: hidden;
}

.login-box{
	min-width: 1200px;
	height: 900px;
}
.login-box.content{
	margin: 0 auto;
	width: 1200px;
	overflow: hidden;
}
.login-box.content.title{
	margin-top: 150px;
	overflow: hidden;
}
.login-box.content.title.rows{
	margin: 120px 40px 0;
	overflow: hidden;
}
.login-box.content.title.rows.login-item{
	width: 330px;
	height: 50px;
	float: left;
	margin-right: 64px;
	border-bottom: 1px solid #a7d3e7;
	padding-bottom: 22px;
}*/
