<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ral.manages.mapper.app.IArticleMapper">

    <sql id="articleResult">
        article_id,img,name,cancellation
    </sql>

    <sql id="conditionalCheck">
        <if test="name != null and name != ''">
            AND name=#{name}
        </if>
    </sql>


    <!--查询-->
    <select id="articlePagingQuery" parameterType="map" resultType="map">
        SELECT <include refid="articleResult"/> FROM dict_article WHERE 1=1 <include refid="conditionalCheck"/>  AND (cancellation IS NULL OR cancellation=0)
    </select>
    <select id="articleIsExist" parameterType="com.ral.manages.entity.app.Article" resultType="int">
        SELECT COUNT(1) FROM dict_article WHERE 1=1 AND article_id=#{article.article_id}
    </select>
    <select id="articleQueryName" parameterType="com.ral.manages.entity.app.Article" resultType="int">
        SELECT COUNT(1) FROM dict_article WHERE 1=1 AND name=#{article.name}
    </select>
    <select id="articleEditQuery" parameterType="com.ral.manages.entity.app.Article" resultType="map">
        SELECT <include refid="articleResult"/> FROM dict_article WHERE 1=1 name=#{article.name}
    </select>


    <!--新增-->
    <insert id="articleInsert" parameterType="com.ral.manages.entity.app.Article">
        INSERT INTO dict_article(article_id,img,name)VALUES (#{article.article_id},#{article.img},#{article.name})
    </insert>


    <!--修改-->
    <update id="articleUpdate" parameterType="com.ral.manages.entity.app.Article">
        UPDATE dict_article SET img=#{article.img},name=#{article.name} WHERE 1=1 AND article_id=#{article.article_id}
    </update>


    <!--删除-->
    <update id="articleDelete" parameterType="com.ral.manages.entity.app.Article">
        UPDATE dict_article SET cancellation=#{article.cancellation} WHERE 1=1 AND article_id=#{article.article_id}
    </update>

</mapper>