<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ral.manages.mapper.app.IEffectMapper">

    <sql id="effectResult">
        effect_id,name,info,target,Aggressivity,Defense,hp,mp_yellow,mp_gold,mp_green,mp_blue,mp_purple,injury,internal_injury,poisoning,
        stun,dodge,hit_rate,crit_rate,burst,suck_HP,suck_mp_yellow,suck_mp_gold,suck_mp_green,suck_mp_blue,suck_mp_purple,cancellation
    </sql>

    <sql id="conditionalCheck">
        <if test="name != null and name != ''">
            AND name=#{name}
        </if>
        <if test="target != null and target != ''">
            AND target=#{target}
        </if>
    </sql>


    <!--查询-->
    <select id="effectPagingQuery" parameterType="map" resultType="map">
        SELECT <include refid="effectResult"/> FROM dict_effect WHERE 1=1 <include refid="conditionalCheck"/>  AND (cancellation IS NULL OR cancellation=0)
    </select>
    <select id="effectIsExist" parameterType="com.ral.manages.entity.app.Effect" resultType="int">
        SELECT COUNT(1) FROM dict_effect WHERE 1=1 AND effect_id=#{effect.effect_id}
    </select>
    <select id="effectEditQuery" parameterType="com.ral.manages.entity.app.Effect" resultType="map">
        SELECT <include refid="effectResult"/> FROM dict_effect WHERE 1=1 AND effect_id=#{effect.effect_id}
    </select>

    <!--招式管理下拉选框-->
    <select id="effectQueryMarquee" resultType="map">
        SELECT effect_id,name FROM dict_effect
    </select>


    <!--新增-->
    <insert id="effectInsert" parameterType="com.ral.manages.entity.app.Effect">
        INSERT INTO dict_effect(effect_id,info,target,Aggressivity,Defense,hp,mp_yellow,mp_gold,mp_green,mp_blue,mp_purple,injury,internal_injury,poisoning,
        stun,dodge,hit_rate,crit_rate,burst,suck_HP,suck_mp_yellow,suck_mp_gold,suck_mp_green,suck_mp_blue,suck_mp_purple,cancellation)
        VALUES (
        #{effect.effect_id},#{effect.info},#{effect.target},#{effect.Aggressivity},#{effect.Defense},#{effect.hp},#{effect.mp_yellow},#{effect.mp_gold},#{effect.mp_green},
        #{effect.mp_blue},#{effect.mp_purple},#{effect.injury},#{effect.internal_injury},#{effect.poisoning},#{effect.stun},#{effect.dodge},#{effect.hit_rate},
        #{effect.crit_rate},#{effect.burst},#{effect.suck_HP},#{effect.suck_mp_yellow},#{effect.suck_mp_gold},#{effect.suck_mp_green},
        #{effect.suck_mp_blue},#{effect.suck_mp_purple},#{effect.cancellation}
        )
    </insert>


    <!--修改-->
    <update id="effectUpdate" parameterType="com.ral.manages.entity.app.Effect">
        UPDATE dict_effect SET info=#{effect.info},target=#{effect.target},Aggressivity=#{effect.Aggressivity},Defense=#{effect.Defense},hp=#{effect.hp},
        mp_yellow=#{effect.mp_yellow},mp_gold=#{effect.mp_gold},mp_green=#{effect.mp_green},mp_blue=#{effect.mp_blue},mp_purple=#{effect.mp_purple},
        injury=#{effect.injury},internal_injury=#{effect.internal_injury},poisoning=#{effect.poisoning},stun=#{effect.stun},dodge=#{effect.dodge},
        hit_rate=#{effect.hit_rate},crit_rate=#{effect.crit_rate},burst=#{effect.burst},suck_HP=#{effect.suck_HP},suck_mp_yellow=#{effect.suck_mp_yellow},
        suck_mp_gold=#{effect.suck_mp_gold},suck_mp_green=#{effect.suck_mp_green},suck_mp_blue=#{effect.suck_mp_blue},suck_mp_purple=#{effect.suck_mp_purple}
        WHERE 1=1 AND effect_id=#{effect.effect_id}
    </update>


    <!--删除-->
    <update id="effectDelete" parameterType="com.ral.manages.entity.app.Effect">
        UPDATE dict_effect SET cancellation=#{effect.cancellation} WHERE 1=1 AND effect_id=#{effect.effect_id}
    </update>

</mapper>