<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ral.manages.mapper.app.IMoveMapper">

    <sql id="moveResult">
        zhaoshi_id,kongfu_id,name,MP_cost,info,zhaoshi_effect,zhaoshi_experience_cost,deleteStatus
    </sql>
    <sql id="conditionalCheck">
        <if test="name != null and name != ''">
            AND name like '%${name}%'
        </if>
        <if test="sexperience != null and sexperience != ''">
            AND zhaoshi_experience_cost <![CDATA[>=]]> #{sexperience}
        </if>
        <if test="eexperience != null and eexperience != ''">
            AND zhaoshi_experience_cost <![CDATA[<=]]> #{eexperience}
        </if>
    </sql>


    <!--查询-->
    <select id="movePagingQuery" parameterType="map" resultType="map">
        SELECT <include refid="moveResult"/> FROM dict_zhaoshi WHERE 1=1 <include refid="conditionalCheck"/> AND (deleteStatus IS NULL OR deleteStatus=0)
    </select>
    <select id="moveIsExist" parameterType="com.ral.manages.entity.app.Move" resultType="int">
        SELECT COUNT(1) FROM dict_zhaoshi WHERE 1=1 AND name=#{move.name}
    </select>
    <select id="moveEditQuery" parameterType="com.ral.manages.entity.app.Move" resultType="map">
        SELECT <include refid="moveResult"/> FROM dict_zhaoshi WHERE 1=1 AND name=#{move.name}
    </select>
    <select id="moveIdQuery" parameterType="com.ral.manages.entity.app.Move" resultType="map">
        SELECT <include refid="moveResult"/> FROM dict_zhaoshi WHERE 1=1 AND zhaoshi_id=#{move.zhaoshi_id}
    </select>
    <select id="moveQueryMarquee" resultType="map">
        SELECT zhaoshi_id,name FROM dict_zhaoshi
    </select>
    <select id="moveQueryName" parameterType="string" resultType="map">
        SELECT zhaoshi_id,name FROM dict_zhaoshi WHERE 1=1 AND kongfu_id=#{moveId}
    </select>


    <!--新增-->
    <insert id="moveInsert" parameterType="com.ral.manages.entity.app.Move">
        INSERT INTO dict_zhaoshi(zhaoshi_id,kongfu_id,name,MP_cost,info,zhaoshi_effect,zhaoshi_experience_cost,deleteStatus)
        VALUES(#{move.zhaoshi_id},#{move.kongfu_id},#{move.name},#{move.MP_cost},#{move.info},#{move.zhaoshi_effect},#{move.zhaoshi_experience_cost},#{move.deleteStatus})
    </insert>


    <!--修改-->
    <update id="moveUpdate" parameterType="com.ral.manages.entity.app.Move">
        UPDATE dict_zhaoshi SET kongfu_id=#{move.kongfu_id},name=#{move.name},MP_cost=#{move.MP_cost},info=#{move.info},zhaoshi_effect=#{move.zhaoshi_effect},
        zhaoshi_experience_cost=#{move.zhaoshi_experience_cost} WHERE 1=1 AND zhaoshi_id=#{move.zhaoshi_id}
    </update>


    <!--删除-->
    <update id="moveDelete" parameterType="com.ral.manages.entity.app.Move">
        UPDATE dict_zhaoshi SET deleteStatus=#{move.deleteStatus} WHERE 1=1 AND name=#{move.name}
    </update>
    <update id="moveBatchDelete" parameterType="map">
        UPDATE dict_zhaoshi SET deleteStatus=#{deleteStatus} WHERE 1=1 AND name=#{name}
    </update>
</mapper>