<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>账号管理</title>
    <link href="../../css/index.css" rel="stylesheet" type="text/css" >
    <link href="../../layui/css/layui.css" rel="stylesheet" type="text/css">

    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/base64.js"></script>
    <script src="../../layui/layui.js" charset="utf-8"></script>
    <script src="../../js/index.js" type="text/javascript"></script>
    <script src="../../js/system/account.js" type="text/javascript"></script>
</head>
<body>
<div class="x-body">

    <!--搜索栏-->
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
            <input class="layui-input" placeholder="请输入账号名称" id="query_account" type="text" autocomplete="off" >
            <input class="layui-input" placeholder="请输入手机号码" id="query_tellphone" type="number" autocomplete="off" onkeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))">
            <input class="layui-input" placeholder="请输入开始日期" id="query_starttime">
            <input class="layui-input" placeholder="请输入截止日期" id="query_endtime">
            <button class="layui-btn" id="query_accountPage" type="button"><i class="layui-icon">&#xe615;</i>查询</button>
            <button class="layui-btn layui-btn-primary" id="query_accountEmpty" type="button"><i class="layui-icon">&#xe640;</i>清空条件</button>
        </form>
    </div>

    <!--操作栏-->
    <xblock>
        <button class="layui-btn layui-btn-danger" id="bacthDelete_button"><i class="layui-icon">&#xe640;</i>批量删除</button>
        <button class="layui-btn layui-btn-normal" id="add_button"><i class="layui-icon">&#xe654;</i>新增</button>
    </xblock>

    <!--数据栏-->
    <table class="layui-table">
        <!--数据表头-->
        <thead><tr>
            <th><div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div></th>
            <th>ID</th>
            <th>账号名称</th>
            <th>手机号码</th>
            <th>来源</th>
            <th>创建时间</th>
            <th>注销状态</th>
            <th>操作</th>
        </thead>
        <!--数据来源-->
        <tbody class="table" id="show_accountData"></tbody>
    </table>

    <!--分页栏-->
    <div class="page" id="page_accountInfo"></div>

    <!--新增栏-->
    <div class="x-body" id="add_accountInfo" aria-hidden="true" hidden>
        <form class="layui-form">
            <div class="layui-form-item">
                <label class="layui-form-label"><span class="x-red">*</span>账号名称</label>
                <div class="layui-input-inline">
                    <input type="text" id="add_account" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span class="x-red">*</span>手机号码</label>
                <div class="layui-input-inline">
                    <input type="number" id="add_tellphone" autocomplete="off" class="layui-input" onkeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span class="x-red">*</span>密&emsp;&emsp;码</label>
                <div class="layui-input-inline">
                    <input type="password" id="add_spassword" autocomplete="off" class="layui-input"></div>
                <div class="layui-form-mid layui-word-aux"><p style="color:red">注意：请填写6到16位密码</p></div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span class="x-red">*</span>确认密码</label>
                <div class="layui-input-inline">
                    <input type="password" id="add_epassword" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span class="x-red">*</span>来&emsp;&emsp;源</label>
                <div class="layui-input-inline">
                    <input type="text" id="add_source" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="add_epassword" class="layui-form-label"></label>
                <button class="layui-btn" lay-filter="add" lay-submit="" type="button" id="addAccount_but">新增</button>
                <button class="layui-btn layui-btn-primary" type="button" id="addAccount_reset">重置</button>
            </div>
        </form>
    </div>

    <!--编辑栏-->
    <div class="x-body" id="update_accountInfo" aria-hidden="true" hidden>
        <form class="layui-form">
            <div class="layui-form-item">
                <label class="layui-form-label"><span class="x-red">*</span>账号名称</label>
                <div class="layui-input-inline">
                    <input type="text" id="update_account" autocomplete="off" class="layui-input" disabled="true">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span class="x-red">*</span>手机号码</label>
                <div class="layui-input-inline">
                    <input type="number" id="update_tellphone" autocomplete="off" class="layui-input" onkeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span class="x-red">*</span>创建时间</label>
                <div class="layui-input-inline">
                    <input type="text" id="update_lrrq" autocomplete="off" class="layui-input" disabled="true"></div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span class="x-red">*</span>来&emsp;&emsp;源</label>
                <div class="layui-input-inline">
                    <input type="text" id="update_source" autocomplete="off" class="layui-input" disabled="true">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span class="x-red">*</span>注销状态</label>
                <div class="layui-input-inline">
                    <input type="text" id="update_cancellation" autocomplete="off" class="layui-input" disabled="true">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="add_epassword" class="layui-form-label"></label>
                <button class="layui-btn" lay-filter="update" lay-submit="" type="button" id="updateAccount_but">修改</button>
                <button class="layui-btn layui-btn-primary" type="button" id="updateAccount_reset">重置</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>